[2017-06-21 07:05] boulund opened #1 "Create documentation prototype using Sphinx"
At minimum: create docs folder, and Sphinx skeleton.

[2017-06-21 07:11] boulund opened #2 "Test issue"

[2017-06-21 07:17] #2 closed

[2017-06-21 07:24] boulund opened #4 "Create flowchart for version 1.0"
Show all steps in the "one path" version of the pipeline, similar to the draft in Joseph's thesis.

[2017-06-21 07:25] thorellk opened #5 "Make sure rename_fasta.py is python 3 compatible"

[2017-06-21 07:26] thorellk opened #6 "Rewrite FilterAssembly.pl to python"
...and make sure it is python 3-compatible

[2017-06-21 07:31] boulund opened #7 "Create flowchart showing branching workflow for version 2.0"
For version 2.0, we need a flowchart showing the branching workflow.

[2017-06-21 07:37] boulund opened #8 "Rewrite assembly_stats.py"
Rewrite in Python 3.5+ and preferably remove unnecessary Biopython dependency.

[2017-07-05 08:56] boulund commented on #8
BBTools have a program called `stats.sh` that computes basic assembly statistics such as scaffold count, N50, L50, GC content, gap percent, etc.
Why not use it, since bactpipe is already dependent on a BBMap installation, it is no extra effort to depend on `stats.sh` for our assembly statistics.
What do you think @thorellk @b16joski ?

[2017-07-05 08:58] thorellk commented on #8
That sounds really neat. Also good to not have an unnecessary amount of own scripts to maintain :)

[2017-07-05 09:09] boulund commented on #8
We could actually rely on a more of the BBTools programs, I think. Since we're already depending on BBTools being installed, I see little reason to write our own scripts for doing what we can solve with BBTools. There is one for renaming reads (`rename.sh`), that can rename the contigs, possibly like we're currently doing with `rename_fasta.py`. We could create another issue regarding that.

[2017-07-05 09:37] b16joski commented on #8
This is really good I should try (stats.sh ) on the current dataset.

[2017-07-05 09:54] thorellk commented on #8
Nice, hope it works well

[2017-08-01 09:42] thorellk opened #9 "Change so that each sample gets an own prokka output folder"
So that instead of that the pipeline outputs all prokka output files into the same folder, there will be separate folders, i.e. prokka/${sample_id}

[2017-08-01 09:44] thorellk opened #10 "Progressive Mauve in the bin directory is currently a symlink."
This needs to be fixed in some way for the future.

[2017-08-10 15:57] thorellk opened #11 "Include the strain ID in the fasta header during rename.py"
So that the fasta headers in the clean file that are used as input to prokka are of the format

[2017-08-16 11:35] boulund commented on #8
We just discussed that it seems that `stats.sh` from BBTools appears to give sufficient information.
The next step would be to implement `stats.sh` in the pipeline and have it replace the original `assembly_stats.py`.

[2017-08-16 11:48] thorellk commented on #11
Use the --pre option in the rename_fasta.py script instead of the sed line

[2017-08-16 11:53] thorellk opened #12 "When the BactPipe 1.0 issues are fixed, make basic readme instructions"
And don't forget to make mini-celebration when this is done :)

[2017-08-16 12:08] boulund commented on #8
Check out `statswrapper.sh` for a way to put statistics for many different contig files into one single statistics file.

[2017-08-16 14:43] b16joski commented on #9
fixed

[2017-08-18 06:36] boulund commented on #9
@b16joski, when you finish working on an issue and you feel satisified with your work you can close the issue, either via the web interface on Github, or when you commit the work that fixes the issue, include the phrase `fixes #9` (of course with the correct issue number depending on what issue you are working on) in the commit message to have Github automatically close the issue when you push the

[2017-08-18 06:53] boulund opened #13 "Remove FastML sources and binaries from repository"
I just noticed that there are some large commits that I think might have been accidental. Amongst other things, the commit in question includes the source code for another program (FastML), as well as a compiled version. This is a severe problem. We can't have the source code and binaries (or source code tarballs) of other software commited into the repo. Firstly, because it in almost all cases vi

[2017-08-18 06:57] boulund commented on #13
This is the commit that included FastML: https://github.com/b16joski/bactpipe_nextflow/commit/b5376a8162a13b0637e0c7051c7606492ab698fb

[2017-08-18 07:03] thorellk commented on #13
I agree, it is important that we keep things clean and only include the steps and parts that are essential so that we don't clutter up the repository and violate any licences. As far as I can see none of the things in that commit needs to be there and seems like you have committed your whole bin from uppmax including old BACTpipe scripts etc.

Also, I think it is important that we properly comment

[2017-08-18 07:13] boulund commented on #13
If no files in the commit are supposed to be in the repository, another option might be `git rebase -i` as well, but please do some research to figure out the best way to delete a commit or files from history. I'm not an expert on these things.

[2017-09-06 14:10] boulund commented on #13
We decided to completely nuke the entire repo history (`$rm -rfv .git`) and then re-initalize a new git repo in the same folder, using only the files we wanted to keep. This created a new "first commit".

[2017-09-06 14:10] #13 closed

[2017-09-06 14:18] thorellk commented on #10
Removed the symlink. **NB! This means we need to clarify in the documentation that users of the pipeline have to make such a symlink in their local bin folder themselves.**

[2017-09-06 14:18] #10 closed

[2017-09-06 14:20] thorellk opened #14 "Clarify dependencies in the documentation"
We need to clarify in the documentation that users of the pipeline have to have progressiveMauve and t2blasn in their PATH or in the bactpipe bin.

[2017-09-06 14:24] thorellk commented on #8
Decided to implement BBTools stats.sh and get rid of AssemblyStats.py

[2017-09-06 14:27] boulund commented on #8
I'll ask Brian about `statswrapper.sh` and "one line per file" output.

[2017-09-06 17:41] thorellk commented on #6
Check and implement https://github.com/tseemann/shovill instead of SPAdes + FilterAssembly instead.

[2017-09-07 05:03] boulund commented on #8
Ok, Brian replied already. The fix is embarassingly simple: add the flag `format=3`...

Here's the output of: `statswrapper.sh 162-C_covfiltered.fasta G83-2_covfiltered.fasta format=3`
[code]

[2017-09-14 15:01] b16joski commented on #11
Included strain id in the fasta header during rename_fasta.py

[2017-09-14 15:01] #11 closed

[2017-09-14 15:04] b16joski commented on #6
We discussed due to the many dependencies required by shovill, we shall use it in  Bactpipe 2.0.

[2017-09-14 15:04] #6 closed

[2017-09-14 15:07] thorellk commented on #6
I agree @b16joski, it is better that we implement it in 2.0

[2017-09-15 12:08] #9 closed

[2017-09-15 12:09] thorellk commented on #8
Decided to implement statswrapper.sh in Bactpipe 2.0

[2017-09-15 12:09] #8 closed

[2017-09-15 12:11] thorellk commented on #5
Do this for Bactpipe 2.0

[2017-09-15 12:17] boulund commented on #5
In Bactpipe 2.0, we could in fact replace `rename_fasta.py` entirely with functionality from BBTools. There is a tool called `rename.sh` that does exactly this.
I think it makes sense to reduce unnecessary the reliance on custom Python scripts if BBTools includes the same functionality. Since BBMap is an important dependency we know the other scripts are also going to be available in users' `$PATH

[2017-09-15 12:23] boulund opened #15 "Transfer bactpipe repository to CTMR github organization?"
I propose we transfer ownership of the `bactpipe_nextflow` repository to the CTMR github organization when it reaches usable maturity. I also propose we change the repository name to just `bactpipe` when transferred to the CTMR organization.

It won't change anything for access of ease-of-use for us as developers, but it keeps it nicely under the CTMR organization umbrella. After such a transfer,

[2017-09-15 12:24] boulund opened #16 "Improve code style consistency"
I will soon submit a pull request for changes to unify the coding style throughout the (nextflow) code base. I won't touch any of the third-party scripts.

[2017-09-15 12:27] boulund opened #17 "Re-organize repo main folder for nextflow best practices"
I propose changes to the main folder of the repo to better follow Nextflow best practices of repo organization. We will create a separate configuration folder, and introduce some new files to make it easier to run the workflow directly from the terminal without downloading it beforehand using Nextflow's built-in functionality for running workflows directly out of Github repos.

[2017-09-15 12:37] thorellk commented on #5
I agree on trying to be as independent of custom scripts as possible, well spotted that there is already such a functionality available @boulund

[2017-09-15 12:50] boulund commented on #5
I learn new things about BBTools almost every week, it's amazing! :D

[2017-09-15 12:52] thorellk commented on #14
Attended to

[2017-09-15 12:52] #14 closed

[2017-09-15 12:54] thorellk commented on #12
Done

[2017-09-15 12:54] #12 closed

[2017-09-15 12:55] thorellk commented on #4
And add this together with a short description of what the pipeline does in the README file

[2017-09-15 14:15] thorellk commented on #15
It think this is a good idea. Should we do it already now or do you want to wait until some later stage @boulund?

[2017-09-15 14:18] boulund commented on #15
Whenever really. But if I get to be picky I'd like there to be a LICENSE file and some more in-depth documentation in the repository before transferring.

[2017-09-15 14:25] thorellk opened #19 "Make a separate config file for local execution and one for Milou usage"
So that one can run it either assuming all dependencies are in the $PATH or, if one is working in milou/other server can call the dependencies from modules.

[2017-09-15 14:46] thorellk commented on #15
Added MIT license to the repository

[2017-09-18 07:04] #16 closed

[2017-09-18 07:13] boulund commented on #19
For inspiration on how it is possible to implement this, have a look at how they've done it in https://github.com/SciLifeLab/NGI-RNAseq and how I implemented it in https://github.com/boulund/armen

[2017-09-19 07:17] boulund opened #20 "Investigate Shovill to replace SPAdes"
- [ ] Research Shovill details, how it works etc.
- [ ] Make list of necessary changes to pipeline if Shovill is implemented

[2017-09-19 07:30] boulund opened #21 "Optimize UPPMAX allocations"
Reduce allocations for:
- [ ] SPAdes to 3 cores
- [ ] BBDuk to 1 core
- [ ] prokka to 1 core
- [ ] Mauve to 1 core

[2017-09-19 07:36] b16joski commented on #15
Transferred to ctmrbio

[2017-09-19 07:36] #15 closed

[2017-09-26 10:47] boulund commented on #1
Now I have created a Sphinx-skeleton for the documentation, and set up so that the documentation is automatically built for every new commit to the repo.
The documentation is automatically compiled and made available via https://bactpipe.readthedocs.io

Now there's only some work left to fill out the documentation with actual content! :D
(looking at you @b16joski ;)).

[2017-10-03 06:39] boulund commented on #1
Now that the documentation skeleton is in place, I'd like to give you a quick run-down on how the documentation system (Sphinx) works, and how you write documentation using it.
I'm guessing @thorellk doesn't have time to meet and do this, but I think we should sit down and go through this together next week @b16joski ! :)

[2017-10-03 08:39] b16joski commented on #1
Yes, that will be great!!!. Let's meet next week.

I am working from scilife lab today but will have a lab core meeting at
11:00.

Thank you

Best regards

Joseph.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-em

[2017-10-31 12:18] boulund opened #25 "Determine the best way to identify species from assembly"
We need to determine the best way to identify a reference species based on the assembled sequences (`contigs.fa`). Current ideas have touched upon MASH, but also Jspecies, etc. Still no solution.

[2017-10-31 12:32] thorellk opened #26 "Implement Mash for initial screening of data"
https://genomeinformatics.github.io/mash-screen/

http://mash.readthedocs.io/en/latest/tutorials.html#screening-a-read-set-for-containment-of-refseq-genomes

[2017-11-03 13:10] thorellk opened #27 "Make installation instructions including dependencies for local usage"

[2017-11-03 13:46] thorellk opened #28 "Make bbduk output gzipped files"
... and the other programs to use the gzipped files as input files

[2017-11-03 14:02] thorellk opened #29 "Make the pipeline start on gzipped files rather than .fastq"

[2017-11-06 10:22] #29 closed, assigned to b16joski

[2017-11-06 10:22] #28 closed, assigned to boulund, b16joski

[2017-11-07 12:45] thorellk opened #30 "Go through prokka parameters for 2.0"

[2018-01-24 12:20] thorellk opened #31 "Make config file for Rackham"

[2018-01-24 13:48] boulund opened #32 "Branch off version 1 into separate branch for archival"
I suggest we create a branch to hold the last version of BACTpipe version1 in the repo. I don't expect any of us are interested in maintaining it now that we've improved so much in version 2, so let's just keep it as an archive in a side branch.
We could easily do this before merging the PR from Joseph's version 2 branch.

[2018-01-24 14:20] b16joski opened #33 "Implement MultiQC"
Add multiQC step at the end of the pipeline workflow

[2018-01-24 14:22] b16joski opened #34 "Update the pipeline documentation"
Update and improve the pipeline documentation

[2018-01-24 14:29] b16joski opened #35 "Annotation using custom curated references by prokka"
specify if wanted by the user for prokka to use specific reference sequences during annotation.

[2018-01-24 14:48] b16joski opened #36 "Add species identification or classification tool that takes assembled contigs.fa as input."
Pyani is good example here. One with  good visual outputs or publication ready figures could be very nice here!!! This could act as also be a confirmatory test for mash screen predictions.

[2018-01-29 12:43] boulund opened #37 "Move `stats` into `shovill` step"
There's little reason to run BBMap's `stats.sh`(or if we run `statswrapper.sh`, I'm not sure) as its own process, as it leads to unnecessary file copying/staging for a very little process. I think it's better to move it into the assembly step, and run it after shovill completes inside the same process.

[2018-01-29 13:07] #31 closed, assigned to nobody

[2018-01-29 13:08] #25 closed, assigned to boulund, b16joski

[2018-01-29 13:10] boulund opened #39 "Create a tagged release for (the old) version 1"
Github has features to create "releases" using tagged commits. Now that we have an old version of the pipeline (version 1) available in a separate branch, it is easy to create a tagged release for it. Would you read up on how to do that @b16joski? Ask me if you get stuck.

[2018-01-29 13:11] #32 closed, assigned to nobody

[2018-01-29 13:12] #26 closed, assigned to nobody

[2018-01-29 13:22] #39 closed, assigned to b16joski

[2018-01-29 15:25] boulund opened #40 "Missing bracket in config file"
When running BACTpipe v2.0 with Yue just now, we noticed an unfortunate syntax error in `nextflow.config`.

https://github.com/ctmrbio/BACTpipe/blob/master/nextflow.config#L17

There is no closing bracket for the rackham profile definition.

[2018-01-30 08:12] boulund opened #41 "Don't include input reads in mash screen output folder"
There's an easy way to ensure Nextflow doesn't include the input reads in the mash screen output folder.

Change this line: https://github.com/ctmrbio/BACTpipe/blob/master/bactpipe.nf#L21
[code]
to
[code]

[2018-01-31 08:00] #41 closed, assigned to b16joski

[2018-01-31 08:02] #40 closed, assigned to b16joski

[2018-01-31 08:02] #37 closed, assigned to b16joski

[2018-02-07 12:37] b16joski opened #43 "Add assembly stats summary to MultiQC report"
To gather assembly stats.

[2018-02-14 08:10] boulund opened #44 "Break out tool parameter settings to a single shared config file"
I suggest we consider putting all user-configureable tool parameters (e.g. bbduk trimming settings, assembly kmer sizes, maybe some prokka parameters, etc) in a single configuration file. Having all of these settings in a single file makes it easier to properly maintain, and also easier for end-users to access and modify parameters as desired, without having to go into the actual code for the main

[2018-02-21 13:29] #33 closed, assigned to nobody

[2018-02-26 12:14] boulund opened #46 "Implement automated (regression) testing"
As a stretch-goal for the next main version of the workflow, I'd like us to implement automated regression testing. It's not very difficult, and will improve our ability to catch small bugs, typos, etc. in pull requests and commits as early as possible.

In order to implement this in a useful way, we need at least one test case for each major path through the workflow. E.g. one gram positive, one

[2018-02-28 14:43] boulund opened #47 "Containerization using Docker"
# Background
Containerization is a technique to make it easier for end users to run stuff without having to install a lot of complicated dependencies. Common tools for this task are [Docker](www.docker.com) and [Singularity](http://singularity.lbl.gov/index.html). Using containers is also very convenient when running on distributed cluster resources, as the container is a complete package containi

[2018-03-01 12:56] #44 closed, assigned to nobody

[2018-03-02 10:17] #30 closed, assigned to thorellk

[2018-03-07 11:02] #35 closed, assigned to nobody

[2018-03-08 09:37] thorellk opened #51 "Remove the Tutorial section of the docs for now"
To be reintroduced if someone has a reason and time to write a tutorial.

[2018-03-08 11:10] boulund opened #52 "Issues with automatic download of reference databases"
There are currently a few kinks to work out regarding automatic downloading of reference databases (BBDuk adapters, mash screen db).

* If automatically downloaded, the code as it is right now won't work.
* If automatically downloaded, the downloaded file is put into a channel that can only be read once... ;(

I'll continue work on this asap.

[2018-03-09 10:29] #52 closed, assigned to nobody

[2018-03-09 11:49] boulund opened #53 "Re-add `params.project` to configuration files"
I must have accidentally removed `params.project` from the configuration files when I restructured everything a while back. Currently, you need to specify  `--project <SLURMPROJECT>` when running BACTpipe on Rackham or Milou.

I suggest we add `params.project = ""` to the default config file (`params.config`), and add some logic to the main workflow to show a warning and exit gracefully if it has

[2018-03-12 12:37] boulund opened #54 "Replace mash screen with BBTool's sendsketch.sh?"
I missed that Brian Bushnell last year added a tool to the BBTools suite that does something *extremely* similar to what `mash screen` does: `sendsketch.sh`.

It sends a sketch of an input file (or pair of input files, compressed or not, as per usual BBTool manners) to JGI's sketch-server to compare against reference sketches of `nt`, `refseq` (default), `silva`, or `img`. It is **very** fast. Her

[2018-03-12 12:41] boulund opened #55 "Restructure automatic BBDuk adapters functionality"
It felt wrong having to always specify the path to `adapters.fa` for BBDuk, and I did some research and obviously it is possible for BBDuk to use the `adapters.fa` file that comes bundled with BBMap when installing it, without having to specify the entire path. It's dead easy: `adapters` is a keyword that BBDuk knows means the adapters file bundled with the installation. We can just give BBDuk `re

[2018-03-15 07:56] #55 closed, assigned to nobody

[2018-03-15 09:30] thorellk opened #57 "Make assess_mash_screen.py work if there are no good hits"
This is the output file on the Brachyspira aalborgi PC4226IV [PC4226IV.mash_screen.txt](https://github.com/ctmrbio/BACTpipe/files/1814740/PC4226IV.mash_screen.txt)

[2018-03-15 09:32] thorellk opened #58 "Make assess_mash_screen.py find PhiX"
...and if so, make bbduk also use the phiX genome file as well

[2018-03-15 09:39] thorellk opened #59 "Issues running BACTpipe on Milou and Rackham"
Tried running BACTpipe on 17 PhiX-contaminated Brachyspira genomes, both on Rackham and Milou clusters. See log files below.

[Nextflow_log_milou.txt](https://github.com/ctmrbio/BACTpipe/files/1814754/Nextflow_log_milou.txt)
[Nextflow_log_rackham.txt](https://github.com/ctmrbio/BACTpipe/files/1814755/Nextflow_log_rackham.txt)

[2018-03-15 09:54] b16joski opened #60 "concatenate mash screen output files and remove redundant files from output folders"
We can have one output file summarizing mash screen results for the users. Also we can remove any intermediate files from the various BACTpipe output directories.

[2018-03-15 17:37] thorellk opened #61 "Remove the automatic download of mashscreen db"
Replace with
[code]

[2018-03-15 17:58] #61 closed, assigned to boulund

[2018-03-15 20:06] thorellk opened #63 "Only output one draft genome fasta"
I suggest to only output the draft genome in the form of the prokka .fna file and not also the contig.fa file from Shoville since these will be basically identical.

[2018-03-15 21:01] thorellk opened #64 "Change name of local.config"
As a consequence of changing the name of profile "local" to "standard" in commmit ```a530e03``` to comply with nextflow practice.

[2018-03-15 21:23] thorellk opened #65 "Make laptop-adapted config file"
That does not leading to segmentation fault during eg mash screen

[2018-03-19 08:49] boulund opened #66 "Reconsider process resource declarations in config files"
I suggest this change due to a recent commit to Nextflow: https://github.com/nextflow-io/nextflow/issues/623

This will make the config files a bit cleaner overall. As the old configuration notation (e.g. `process.$processName.cpu`) is deprecated, we probably should change over eventually.

[2018-03-22 09:43] #51 closed, assigned to nobody

[2018-03-23 09:10] #63 closed, assigned to nobody

[2018-03-27 09:56] #58 closed, assigned to boulund

[2018-03-27 11:16] #57 closed, assigned to boulund

[2018-03-28 08:09] #64 closed, assigned to nobody

[2018-03-28 09:57] #34 closed, assigned to nobody

[2018-03-29 08:10] #59 closed, assigned to b16joski

[2018-03-29 08:11] boulund opened #68 "Mention required python version in README and docs"

[2018-03-29 08:13] #27 closed, assigned to nobody

[2018-03-29 08:24] thorellk opened #69 "Test the pipeline"
Dear @sabifo4 and @huyue87 :)

The pipeline should now be ready for testing so please do that and bring on all feedback you can come up with!

[2018-03-29 09:28] #53 closed, assigned to boulund

[2018-03-29 09:51] #68 closed

[2018-04-26 08:58] boulund opened #70 "Write docs to show how to update (nextflow pull) an old version"
Nextflow does not automatically update the local copy of a workflow that it has pulled from Github. This means that users that follow the installation/run instructions for BACTpipe get the latest version that was available at that time. If BACTpipe is later updated, the user's local copy is not. The user has to run `nextflow pull ctmrbio/BACTpipe` to update the local copy to the latest version fro

[2018-04-26 09:03] #70 closed, assigned to b16joski

[2018-05-03 11:45] boulund opened #71 "Assess_mash_screen passes samples that should fail"
@b16joski identified an issue where `assess_mash_screen.py` PASSes a sample that should FAIL (according to mash screen results it might contain two different species).

[2018-05-08 12:37] huyue87 opened #73 "small mistakes in BACTpipe docs"
1, There is an extra dash for **"--params-file"** in the following sentence
"If you save the above into a plain text file called custom_bactpipe_config.yaml you can provide it when running BACTpipe using the **--params-file** command line argument:"

2, A small mistake also happened in the example script for the section "Change many settings at once":
**bbduk_qtrim: "20"** should be  **bbduk_qtrim

[2018-05-08 14:25] #73 closed, assigned to nobody

[2018-05-20 09:05] #71 closed, assigned to nobody

[2018-05-24 12:14] #65 closed, assigned to thorellk

[2018-05-24 12:23] thorellk opened #75 "Remove milou config files"
And sections refering to milou in the documentation since the cluster is now decomissioned.

[2018-05-24 12:34] #75 closed, assigned to nobody

[2018-05-24 13:51] boulund opened #76 "Prepare for public release"
There are a few things to take care of before we can make the repository entirely public:

- [x] Remove milou stuff
- [x] Fix the final details in the most important outstanding issues, e.g. #60, which is practically done already.
- [x] Create a [Release](https://help.github.com/articles/creating-releases/) for BACTpipe version 2.5.3 (or whatever version we're currently on when we're making the re

[2018-05-28 07:44] #60 closed, assigned to b16joski

[2018-05-28 07:55] #76 closed, assigned to boulund, thorellk, b16joski

[2018-05-28 07:56] #69 closed, assigned to nobody

[2018-05-28 07:57] boulund commented on #76
I should perhaps mention that the documentation at https://bactpipe.readthedocs.org now has as selector down at the bottom left so you can look at the documentation of the `develop` branch separately from what is the default (i.e. the `master` branch). This makes it easier to make sure the docs in the develop branch look OK before merging.

[2018-06-04 12:54] boulund opened #78 "Make Nextflow exit if subprocess fail"
We should put the following line in `nextflow.config`, so we don't have to do all the `&& \`-chaining inside processes, e.g. in https://github.com/ctmrbio/BACTpipe/blob/master/bactpipe.nf#L111 or https://github.com/ctmrbio/BACTpipe/blob/master/bactpipe.nf#L111.
[code]

[2018-06-08 06:28] boulund opened #79 "Update workflow to utilize new conda directive"
Nextflow 0.30 introduces the `conda` directive that simplifies the use of conda environments in Nextflow. This could make BACTpipe even easier to use and we should consider updating the code to take advantage of the new features.

https://www.nextflow.io/docs/latest/conda.html

[2018-08-20 07:51] boulund opened #80 "Update Rackham configuration to use Shovill module"

[2018-09-13 06:42] boulund opened #82 "IslandPath in BACTpipe?"
I was thinking it could be cool to automatically run IslandPath as part of BACTpipe. Recently saw a self-contained Docker image for it that we could use: https://hub.docker.com/r/brinkmanlab/islandpath/

[2018-09-13 07:46] thorellk commented on #80
I tried running Shovill using the Rackham module yesterday but there was some problem with Pilon. Will trouble shoot it and then add it to the config file as you suggested

[2018-09-13 08:54] boulund opened #83 "Make nextflow continue with other samples if a job fails"
Look into how to make Nextflow continue with other samples if a job fails for some reason.

[2018-09-13 09:10] thorellk commented on #82
I think this is a good idea. So the prokka gbk file goes into islandpath

[2018-09-13 11:15] thorellk commented on #83
https://www.nextflow.io/docs/latest/process.html#errorstrategy

[2018-09-13 11:52] thorellk commented on #80
I got response form Uppmax and it seems like they fixed it so I merged the branches.

[2018-09-13 11:52] #80 closed

[2018-09-17 07:18] boulund opened #86 "Create CONTRIBUTING guidelines"
We should consider adding a CONTRIBUTING (plain text file) in the root of the repo that will contain contributing guidelines for BACTpipe.

We should include a small checklist for important things to double-check before merging the `develop` branch to `master`.

Here is some text I copy-pasted from stag-mwc that can serve as an inspiration:

[2018-09-18 12:01] thorellk commented on #82
I haven't actually gotten IslanPath to work. Trying to get the docker image results in
[code]

[2018-10-01 05:31] boulund opened #87 "Update dependencies"
I think it's time we review the workflow components and update the code to run the most recent version of all programs. For example, Shovill has been updated from the previous 0.9.0 version, which removes a lot of annoying dependencies, potentially simplifying the use of BACTpipe.

[2018-10-01 18:45] boulund commented on #87
Now that there is an "official" [shovill Docker image](https://github.com/bioboxes/shovill/blob/master/Dockerfile), referred to by Torsten himself, I'm thinking we could reconsider the possibility of dockerizing BACTpipe to simplify the usage. Regardless, we should definitely move to the most recent version to eliminate all the frustrating dependencies the older versions suffered from.

[2018-10-02 07:47] thorellk commented on #87
We should definitely update to the latest shovill version. I will ask uppmax to install it.

[2018-10-02 07:56] thorellk commented on #87
The shovill version at uppmax is 1.0.0 and the latest is 1.0.1. The differences between the two seems to be really minor so I don't think we need to make any changes. However, we should probably change the installation instructions for shovill in our documentation.

[2018-10-02 08:00] boulund commented on #87
Great, thanks for checking! We should update the docs with recommended versions of all tools (I noticed there wasn't anything at the moment).

[2018-10-02 08:01] thorellk commented on #87
@boulund I just noted the same

[2018-10-10 14:38] boulund opened #89 "Add ability to ignore mash screen results"
I was thinking that sometimes it might be nice to be able to override the mash screening results for some samples and just run them through the entire workflow even if the mash screen step thinks it's not a pure isolate.

What do you think, @thorellk?

What would be a good user interface for this, would perhaps a flag like `--ignore-contamination-screen` be enough?

[2018-10-11 06:09] boulund opened #91 "Test SKESA instead of Shovill"
I saw some discussions on the µbioinfo Slack about the [SKESA](https://github.com/ncbi/SKESA) assembler, which is supposedly quite good for whole genome assembly (in some situations better than SPADES). Maybe that could be something to have a look at?

[2018-10-14 06:36] boulund opened #93 "Output contig graph from assembly"
Another of the more interesting outputs from the assembly is in my opinion the contig graph. Shovill outputs the graph as `contigs.gfa` in the output directory. We could consider publishing this file directly in `BACTpipe_results/shovill`, so users (i.e. me) don't have to go get them from the assembly subdirectories. We could add some "tips" to the docs about how to look at and interpret the resul

[2018-10-19 09:17] boulund opened #94 "InterProScan 5"
Would it be interesting to run [InterProScan 5](https://github.com/ebi-pf-team/interproscan) on the protein sequences provided by prokka?

It is a fairly sizeable download (almost 9GB), but it comes with the following databases out of the box:
[code]

I just thought of it this morning, after hearing from Jonatan that he wanted to search for some PROSITE patterns in his data.

We could consider add

[2018-10-19 09:19] boulund commented on #82
What did you think of the output from IslandPath @thorellk? I got the impression the output is a bit underwhelming, so is it worth looking into or should we close this issue?

[2018-10-19 09:29] boulund commented on #94
One thing that could be annoying is that it would probably increase the total runtime of BACTpipe dramatically. I think InterProScan 5 will take quite a whole to process a large number of protein sequences.

[2018-10-19 11:29] boulund commented on #91
Nice!

[2018-10-19 11:29] thorellk commented on #82
I think it adds very little useful information dissapointingly, I sent them a question about this and got the reply that they were planning to develop it but that it was not in the pipeline atm... So I say yes, close.

[2018-10-19 11:29] #82 closed

[2018-10-22 06:42] boulund opened #95 "ConFindr"
Maybe this could be interesting for BACTpipe?

https://lowandrew.github.io/ConFindr/

[2018-11-20 10:43] boulund commented on #54
I recently re-read the SeqAnswers-thread on BBMap's sketching tools and saw that Brian suggested potentially running `tadpole.sh` in front of `sendsketch.sh` to get rid of spurious/error kmers.
This is fairly quick, not very memory intensive, and I think it really cleans up the output from `sendsketch.sh`, making it a good candidate to replace the memory-heavy `mash screen` solution we have now. I

[2018-11-28 13:28] boulund opened #96 "ProphET prophage finding, like PHASTER"
https://github.com/jaumlrc/ProphET

[2018-11-28 15:55] thorellk commented on #96
I have downloaded and will test run :)

[2018-12-12 12:48] boulund opened #97 "Investigate the potential use of parsnp, harvest"
How can we best implement core genome alignment in BACTpipe? Of course, it's not something you would want to run all the time with every workflow, as it depends on the relation between the input samples you are running on. Is it reasonable to implement an optional branch in the workflow for this, and if we did, can we maintain it?

https://harvest.readthedocs.io/en/latest/

https://harvest.readthe

[2018-12-12 13:01] thorellk commented on #97
I have had issues with parsnp, I filed an issue about it in the github repo some years or so ago and I don't think it has been resolved yet. Todd, who is the main developer said he would make a new release "soon" in 2017 but nothing has been updated since 2015. We originally had roary as a part of the pipeline (which also creates core genome alignments) but removed it since we thought this would n

[2018-12-12 13:20] boulund commented on #97
I think it could be interesting to bring up the discussion on whether to consider having some kind of core genome alignment stuff in BACTpipe overall. Maybe this issue really has two or even three components, one of which should be brought out into its own discussion issue:

1. Do we want to include branches in BACTpipe that might not be interesting for general-purpose use?
2. How would we impleme

[2019-01-16 07:32] boulund opened #98 "kmc error 256 during shovill"
This error is known and can be fixed by upgrading to a more recent version of Shovill that doesn't use kmc any more, see e.g. https://github.com/tseemann/shovill/issues/84.

[2019-01-16 07:32] #98 closed

[2019-01-16 08:02] boulund commented on #89
This is merged into develop since a77babbd7c6c2c5b3acd6fabccd2c70fc62c9abb

[2019-01-16 08:05] #83 closed

[2019-01-16 08:05] #89 closed

[2019-01-16 08:22] boulund commented on #66
I got annoyed with the warnings about using deprecated syntax so I dealt with this now. Will merge to develop in a few minutes

[2019-01-16 08:22] #66 closed

[2019-01-30 07:11] boulund opened #100 "Assemble potentially contaminated isolates by default"
We recently implemented `--ignore_contamination_screen`, but I have noticed that I generally use this a lot, so maybe it would make sense to invert the logic here, so we have something like `--stop_on_contamination` instead, so isolates with potential contamination are not processed further. What do you think @thorellk @huyue87 ?

[2019-01-31 15:37] boulund opened #101 "Add and always run barrnap?"
Maybe should add a barrnap-step to run on the assembled contigs? What do you think @thorellk ?

[2019-02-01 08:12] thorellk commented on #101
barrnap is included in prokka so that is already ran for all drafts, i.e. that info can be pulled out from the prokka annotation.

[2019-02-01 08:35] boulund commented on #101
Haha :D go figure. Prokka seems to do everything! :+1:

[2019-02-01 08:35] #101 closed

[2019-02-11 06:58] boulund opened #102 "Calculate order and orientation of assembled genomes using socru"
Recently came across [socru](https://github.com/quadram-institute-bioscience/socru). Practically, we could use the species-identification we get from mash screen (or perhaps sendsketch.sh from BBTools) on the assembled contigs to automatically get a reliable species estimate for unknown isolates and run socru on the assembly.

https://github.com/quadram-institute-bioscience/socru
https://www.biorx

[2019-02-11 13:43] boulund commented on #102
Hm... Maybe this doesn't work very well on assembled contigs, it seems to require complete genomes :)

[2019-02-18 13:47] #102 closed

[2019-08-05 08:31] boulund opened #103 "Add BUSCO?"
https://gitlab.com/ezlab/busco

[2019-08-19 09:43] boulund opened #104 "Use conda: Update tool versions"
Update process definitions to use conda so that Nextflow can manage all dependencies automatically. While we're at it, we should review tool versions and make sure we're testing with recent versions, and add which versions of all tools that were tested in the README.

[2019-08-22 10:56] boulund opened #105 "Add cleanup directive to config file to automatically remove work dir"
According to https://github.com/nextflow-io/nf-hack18/issues/3 there is an undocumented feature to remove the work dir.

[2019-08-27 09:48] boulund opened #106 "Time to reboot BACTpipe (version 3)"
I think it is time to review the BACTpipe workflow and update/replace some parts.

Looking for input @huyue87 and @thorellk!

I have the following ideas:

- Remove `mash screen` (#54). It was originally intended as a screening step to not unnecessarily assemble potentially contaminated isolates, but in reality we assemble all samples anyway so this just wastes resources (time, CPU, memory) when it

[2019-08-27 13:55] thorellk commented on #106
Replace mash screen with sendsketch.sh  **_- Sounds good._**

Replace BBDuk with fastp. **_- I never used fastp but your arguments sounds reasonable -> approved :)_**

License issue and SignalP-dependency of Prokka. **_- I think this sounds reasonable but have no experience in making Docker container myself so I don't know how much work this would be?_**

Update all main tools to the most recent v

[2019-08-27 13:58] thorellk commented on #97
@boulund; I usually run Roary and then FastTree on the core genome alignment to get a quick and dirty tree. This requires all genomes in the dataset to be reasonably close though

[2019-08-27 14:00] boulund commented on #97
Yes... Not sure if we can implement something like this in a widely-applicable way. Maybe it's best to leave to that custom downstream analyses then?

[2019-08-27 14:01] boulund commented on #103
@thorellk mentioned BUSCO might not support bacteria. There is something bacteria-related on their webpage, but I actually have no clue about how to use BUSCO at all. I guess I have some reading to do.
https://busco.ezlab.org/

[2019-08-27 14:03] thorellk commented on #97
Stijn Wittouck have developed a pan genome software where one doesn't need to set identity thresholds etc and that can be used on diverse genomes. Might be something?

https://github.com/SWittouck/progenomics

[2019-08-27 14:13] thorellk opened #107 "Add possibility of hybrid assemblies"
To add the possibility of performing hybrid assemblies of Nanopore/PacBio and Illumina data using `hybridSPAdes` would be nice. Need to think through how much of data preprocessing that needs to be added though, or if one should submit the long read data already QC'd...

[2019-10-22 07:30] boulund commented on #106
@huyue87 and I brainstormed a bit about potential improvements to BACTpipe in version 3. We considered rewriting BACTpipe to something like the following workflow graph.

In this suggestion we use:
- [FastP](https://github.com/OpenGene/fastp) for FASTQ quality and adapter trimming
- [Shovill](https://github.com/tseemann/shovill) for assembly
- BBMap [sendsketch.sh](https://www.biostars.org/p/23483

[2020-01-17 12:05] boulund commented on #106
@thorellk @huyue87 and I recently had a meeting to plan for the work ahead. We decided to also add [ResFinder](https://cge.cbs.dtu.dk/services/ResFinder/) to the suite of tools to be run. BACTpipe is really becoming a CGE workflow :laughing: ...

We also decided to split up development efforts into version 3 and 4. Version 3 will focus on getting the basic short read workflow in place, and version

[2020-01-21 08:18] boulund opened #108 "Comparison of long-read-assemblers"
@thorellk , not sure if you've seen this. Might be interesting for BACTpipe version 4.0 ?

edit: the link!
https://github.com/rrwick/Long-read-assembler-comparison

[2020-01-21 09:27] boulund opened #109 "Add FastP"

[2020-01-21 09:29] huyue87 opened #110 "add MultiQC"

[2020-01-21 09:29] huyue87 opened #111 "add MultiQC"

[2020-01-21 09:32] #110 closed

[2020-01-21 09:32] huyue87 commented on #110
duplicated issue

[2020-01-21 09:34] boulund opened #112 "Add sendsketch taxonomic screening"

[2020-01-21 09:35] boulund opened #113 "Add sendsketch taxonomic screening"

[2020-01-21 12:23] #112 closed

[2020-01-21 12:41] boulund commented on #111
It seems we already had a MultiQC process in the code. We should wait a bit with this and review it when all other components are in place, then check that it gets all the inputs we want it to put in the MultiQC report.

[2020-01-22 07:45] thorellk commented on #108
Yes, I have seen it @boulund  :) But thanks anyway!

[2020-01-22 07:45] #108 closed

[2020-08-18 13:07] valzip commented on #106
Hi! I found your pipeline while looking for some program that would screen assembled contigs for contamination in my microbial pipeline. I am glad that my pipeline is looking roughly similar to yours. I can recommend you [abricate](https://github.com/tseemann/abricate) from tseemann for virulence and resistance finding. It implements several databases, it is easy to run, runs fast, and _in silico_

[2020-08-18 13:26] boulund commented on #106
Hi @valzip ! Thanks for sharing! We also love pretty much everything Torsten does :D. We've actually discussed abricate previously, and it's not at all impossible that we might decide to use abricate instead in the end.

[2020-09-11 12:24] stevebaeyen opened #114 "screen for contaminants fails"
I installed BACTpipe on a VM with Ubuntu 20.04 and used a genome that was previously assessed with CheckM for contaminants but the 'screen contaminants' step fails with this warning: WARN: Directive 'validExitStatus' has been deprecated -- Check process 'screen_for_contaminants'. Pipeline ended prematurely bur report was generated.

[2020-09-15 06:46] boulund commented on #114
Thanks for reporting the issue!

We are aware that BACTpipe is now rather old and not using current Nextflow best practices. Planning is currently ongoing for how to modernize and make BACTpipe more user-friendly and flexible.

[2020-11-27 08:16] emilio-r opened #116 "Known issues - 3.E"
- Issues running pipe locally - Fixed
While some users report being able to run the pipe using the local configuration, most users get stuck on the shovill process which is also possibly resulting in different errors for different users.

- Rackham: sendsketch_stainer.py command not found.
Running the Rackham compatible branch on the cluster results in the process "screen for contaminants" failing

[2020-11-27 08:56] thorellk opened #117 "Improve sendsketch_stainer.py script"
I am thinking that we ideally could improve the stainer script to also output species (which would be useful to input to prokka). And if the sample is contaminated it could output "multiple species" or similar.

[2020-11-27 09:13] thorellk commented on #117
Ideally it could also output the "strain" prefix into prokka. This would solve the issue with MultiQC.

[2020-11-27 09:42] boulund commented on #116
Great that you summarized everything in here @emilio-r !

If you create a new issue for each of the issues listed above that are still relevant (i.e. not the fixed ones) it'll be easier to track the progress. You can refer to this issue in each and when individual issues have been created we will close this summary issue.

[2020-11-27 09:42] boulund commented on #117
Good ideas. Anyone interested in taking this on, @emilio-r or @thorellk ?

[2020-11-27 09:46] emilio-r opened #118 "Rackham: sendsketch_stainer.py command not found"
#116
Running the Rackham compatible branch on the cluster results in the process "screen for contaminants" failing due to not recognizing files in /bin directory via the error: .command.sh: line 4: sendsketch_stainer.py: command not found.

[2020-11-27 09:46] boulund commented on #113
I guess we can consider this issue handled now, right @emilio-r ?  If we've merged your branch to the main branch now it should be done. Please close this if that is true.

[2020-11-27 09:47] boulund commented on #111
I guess this is pretty much handled now as well, right @emilio-r ?

[2020-11-27 09:47] boulund commented on #109
This one should also be done @emilio-r

[2020-11-27 09:48] emilio-r opened #119 "Rackham: Assembly failed - spades.fasta has zero contigs!"
#116
Running the pipe in a conda evironment on Rackham results in shovill complaining of empty files. This is despite fastP producing a seemingly normal output.

[2020-11-27 09:49] emilio-r opened #120 "Sendsketch skipping"
#116
Some input read files, when run on the Rackham compatible version, skips the sendsketch process, this often by complaining that it cannot handle empty files. These contigs, from shovill, are simultaneously being fed correctly into the other processes (prokka and statswrapper). This issue always seem to affect the same read samples, despite these being able to function correctly in sendsketch,

[2020-11-27 09:49] emilio-r opened #121 "MultiQC Issue"
#116
The MultiQC process does not produce the expected output.

[2020-11-27 09:49] thorellk commented on #111
Yes. I guess we could finalize the 3.E version and when we bump that to master we systematically go through all issues and see which we could mark as resolved?

[2020-11-27 09:55] emilio-r commented on #113
This sort of already exist in the 3.E version/branch in the form of gramstain, but the issue will be handled via #117 if we expand the taxonomic output of that process. I'll close this issue.

[2020-11-27 09:55] thorellk commented on #121
This is since the prokka result log files don't include unique strain identifiers. If we resolve issue #117 this problem will be resolved as well.

[2020-11-27 09:56] emilio-r commented on #111
Issue merged with #121

[2020-11-27 09:56] #111 closed

[2020-11-27 11:09] thorellk commented on #119
Running the pipeline using the local.config file on Rackham without the bactpipe_env environment loaded does not generate this error but Shovill runs without problems so maybe we should do like that instead and change the instructions for installation accordingly.

[2020-11-27 11:09] #119 closed

[2020-11-27 11:39] thorellk opened #122 "Change output.rst file in docs to conform to 3.E updates"
When we are ready for merging of 3.E to master

[2020-11-27 14:20] thorellk opened #123 "Evaluate time and CPU usage on rackham"
So that we are not asking for too much allocation for the different processes (increases queuing time)

[2020-12-01 13:49] emilio-r commented on #118
Installing nextflow into my login node, instead of loading it as a module, fixed this issue.

[2020-12-01 13:49] #118 closed

[2020-12-02 12:24] thorellk commented on #120
This may have to do with shovill fasta header formats in some way. We should consider cleaning up fasta headers of the shovill output to something like >strain_contigX prior to feeding it into sendsketch and prokka respectively.

[2020-12-02 12:28] thorellk commented on #105
@abhi18av, can you confirm this? If this is the case, it would be great to implement this to save space if the pipeline has completed without errors.

[2020-12-02 12:30] boulund commented on #105
In another nextflow workflow that we use we used hardlinks for all output files to reduce the disk space usage. Whenever everything is done, one can easily remove the `work` directory without risking to delete anything in the published directories.

[2020-12-02 12:34] abhi18av commented on #105
In general, relying on undocumented stuff might bind us to specific version and put us in technical debt overall. Nextflow development moves quite fast.

I think a simpler alternative could be to simply [switch the publish mode to `move`](https://www.nextflow.io/docs/latest/process.html#publishdir) rather than `copy` or link. In this case, as soon as the process exists successfully - it'll move th

[2020-12-02 12:37] abhi18av commented on #116
Regarding this issue, I think that these should still stand for [my PR here](https://github.com/ctmrbio/BACTpipe/pull/124) as I didn't alter any functionality. But still, it'd be great if we could test with the latest version?

Also, please do note the `git revision` for the branch you pick for testing.

[2020-12-02 12:42] thorellk commented on #116
I think we can close this issue since the items are either solved or covered by other issues. Do you agree @emilio-r ?

[2020-12-02 12:43] thorellk commented on #46
This is something that @abhi18av also mentioned. Maybe this is the time to implement it?

[2020-12-02 12:55] boulund commented on #46
I absolutely think so! Not sure where the nextflow field is at now, how do people normally perform automated testing of their workflows, do you know @abhi18av ?

I guess we need at least a minimal test data set that assembles and can be annotated, but using a minimum amount of resources to do so, so the test can be run relatively fast on a small vm?

[2020-12-02 13:03] boulund commented on #105
Are there any interaction effects with the `scratch` directive that we need to consider then? Thinking of cluster environments where the scratch dir could be on a local disk and the publishdir on a shared network file system. (not that BACTpipe produces very large output files, so it's not likely to become a huge problem--people misbehave on these systems all the time anyway :) )

[2020-12-02 13:08] abhi18av commented on #46
I do agree on this as well :)

With the new modular design of the code base, it should be easier to test at a `module` level as well as `(sub)-workflow` level.  `Github actions` seems to be the way forward, but only after the community has figured out an optimal automated testing workflow.

This week itself, there has been major progress, with https://github.com/nf-core/modules/pull/80 and https:/

[2020-12-02 13:15] #116 closed

[2020-12-02 15:01] thorellk opened #125 "Joint Zoom meeting to discuss next steps?"
Hi!

What about having a Zoom meeting together to introduce ourselves and discuss next steps forward + future vision for the pipeline and division of the work? When would suit you @boulund @emilio-r @abhi18av?

Best wishes,
Kaisa

[2020-12-02 15:05] boulund commented on #125
Pretty much any time tomorrow works for me

[2020-12-02 15:46] abhi18av commented on #125
Good idea!

Anytime between 9:30 CET and 3:30 CET works for me :)

[2020-12-02 15:51] abhi18av commented on #105
I've note worked extensively with HPC systems but conceptually, I believe they are similar to AWS Batch or Azure Batch environments (multiple synced machines , in which case the `publilshDir "xyz", mode: "move" ` should work :)

In any case, as you mentioned, isn't isn't a huge pipeline so we can iterate a couple times and finalize.

[2020-12-03 08:03] emilio-r commented on #125
Anytime today would work for me.

[2020-12-03 08:24] abhi18av commented on #95
It seems that this repo doesn't exists anymore?

<img width="1052" alt="image" src="https://user-images.githubusercontent.com/12799326/100983208-0404d680-356f-11eb-91cb-9a45983b13cb.png">

I searched on the author's repos as well.

<img width="1189" alt="image" src="https://user-images.githubusercontent.com/12799326/100983185-fc453200-356e-11eb-91c0-d1eff5244799.png">

[2020-12-03 08:25] emilio-r commented on #121
Issue fixed, but will be refined with the closure of #117. Since this issue is only relating to 3.E branch and the MultiQC now works there, I'm closing it.

[2020-12-03 08:25] #121 closed

[2020-12-03 08:34] boulund commented on #95
It seems to have moved to https://github.com/OLC-Bioinformatics/ConFindr

Not sure it's relevant for us anymore though.

[2020-12-03 08:59] thorellk commented on #125
Ok, what about in half an hour? 10.30 CET? @emilio-r @boulund @abhi18av?
https://gu-se.zoom.us/j/64089983741?pwd=NU9XeWx0L293UDdyZHQ3MWhhVG1Ddz09

[2020-12-03 09:08] boulund commented on #125
Please note that this Github is public so that link is now also public

[2020-12-03 09:44] boulund commented on #114
BACTpipe is getting some improvements now, and this issue should be resolved with those fixes. Please reopen this issue if it still remains in the next version.

[2020-12-03 09:44] #114 closed

[2020-12-03 09:47] stevebaeyen commented on #114
Thanks, will check it out !

[2020-12-03 10:07] abhi18av opened #126 "Make the pipeline tower friendly and update docs with the instructions"

[2020-12-03 10:23] #125 closed

[2020-12-03 10:26] thorellk commented on #122
Fixed this!

[2020-12-03 10:26] #122 closed

[2020-12-03 10:31] boulund commented on #114
Sorry for being so quick to close the issue without saying when the next release is due. The next release should be out sometime soon, I hope the issue is no longer present in the next release.

[2020-12-09 13:54] thorellk opened #128 "emilio branch sendsketch_to_prokka.py gives incorrect output"
When running it on ~50 genomes I noted some of them did not get the genus and species classification that it should have gotten based on the sendsketch top hits, see attached files
[Species_prokka.txt](https://github.com/ctmrbio/BACTpipe/files/5666293/Species_prokka.txt)
[Top_sendsketch_hits.txt](https://github.com/ctmrbio/BACTpipe/files/5666294/Top_sendsketch_hits.txt)

[2020-12-09 14:25] abhi18av commented on #128
@thorellk this is something perplexing for me as well. We are now using the same `sendsketch` script as the `3E` branch but it's misbehaving for some reason.

Anyways, @emilio-r  could you please help identify which genomes are not being processed correctly and compare the behavior of `3E` and `emilio` branch to pin-point the exact issue?

I'll setup the `signalp` locally to fix this behavior.

[2020-12-09 14:29] thorellk commented on #128
Yeah, it is really weird. I am running the same samples with the 3.E branch now to see if that gives the same error

[2020-12-09 14:58] thorellk commented on #128
The 3.E branch does not output the genus or species at all

[2020-12-09 15:02] abhi18av commented on #128
Hmm, so just to be clear `emilio` branch is in the right direction correct?

[2020-12-09 19:18] thorellk commented on #128
The emilio branch runs without errors and outputs the genus and species info as it should (at least at a first glance). However, some of the genus and species that are fed into prokka are incorrect and don't agree with the top hits from sendsketch for those samples...

[2020-12-10 03:35] abhi18av commented on #128
Hi @thorellk - Is there a way to check the `sendsketch` scripts independently on the data produced?

I think that we should make sure that the `sendsketch.sh` and `sendsketch_to_prokka.py` are working as expected, something akin to unit testing these files.
CC @emilio-r

[2020-12-10 08:26] thorellk commented on #128
I have now ran the python script separately and that gives correct output so it has do have something to do with the nextflow piping...

[2020-12-10 08:50] thorellk commented on #128
Actually, it seems to be nextflow mixing things up. All the taxa that are incorrect are present as the top hit in one of the sendsketch files from another of the strains that got incorrect taxa.

In the file below I have extracted the top three hits from the sendsketch output files. The things marked in green are the results of the manual sendsketch_to_prokka.py run (which are all correct). I also

[2020-12-10 09:54] abhi18av commented on #128
Aaand the plot thinkens 🤔

The formatted excel file is extremely helpful @thorellk  - thanks!

Let me have a look and try to figure out where exactly is the issue within the nextflow process.

[2020-12-10 10:25] thorellk commented on #128
Yeah, it seems like when it is executed on the HPC cluster, i.e. many processes are run in parallel, there is some confusion of the channels?

[2020-12-10 10:45] abhi18av commented on #128
That could be another suspect (this might be a bug in NF), but my most immediate suspects are related to the pipeline design.

1. The mixup could be in the parameter code used to prepare arguments for `prokka`

[code]

The values are then passed to the actuall script

[code]

2. The other option is, I think more likely, that the mix-up happens in the two linkages to `prokka`. Initially, I suggeste

[2020-12-10 12:20] abhi18av commented on #128
In the meantime, till we confirm the logic of point-1 above, I've implemented point-2 here https://github.com/ctmrbio/BACTpipe/tree/use-screened-contig

[2020-12-10 13:42] emilio-r commented on #128
@abhi18av Based on a smaller test sample this new version (use_screened_contig) seems to work and passes the arguments as it should. So, @thorellk, try running this branch and see if you get the same results using your more complex samples.

[2020-12-10 14:25] thorellk commented on #128
I am testing the new branch now.

[2020-12-10 14:32] thorellk opened #129 "Integrate renaming script pre sendsketch"
I would like to integrate a script renaming the headers of the assembly fasta files from shovill to short, standardized headers including the strain identifier so that they would look like

[code]

This would hopefully make them less error prone and also a more suitable as prokka output. This way we would not have to write out the shovill assembly output file and could only write the cleaned assem

[2020-12-10 14:57] abhi18av commented on #129
@thorellk , I do like this idea overall. We can integrate this once we've sure of the current code.

Regarding the script , here's the python3 version.

[rename_fasta.py.txt](https://github.com/ctmrbio/BACTpipe/files/5673587/rename_fasta.py.txt)

The only changes I've made to convert this script were to update the `print` statements, luckily the script is short :)
[code]

Please let me know the if

[2020-12-10 15:55] thorellk commented on #129
Works like a charm 👍

[2020-12-10 16:21] abhi18av commented on #129
P.S. You could try out the `2to3` tool which comes bundled with `Python3` to make sure that there are not huge changes necessary for the upgrade.

[2020-12-11 16:03] thorellk commented on #128
Sorry for the delay, I had to be in the lab most of the day today.

Seems like the use_screened_contigs did the trick except that 5 out of 48 samples fails in the sendsketch step and thus does not get fed into prokka. Might be related to issue #120 and may be avoided by including the renaming script?

[2020-12-11 16:27] abhi18av commented on #128
No worries @thorellk. I'll be giving `BACTpipe` some time over the weekend.

Here's what I'm planning to do

1. Enable this pipeline to run on tower.nf , so that I can test this at scale as well.

2. Integrate the script you mentioned https://github.com/ctmrbio/BACTpipe/issues/129

Could you please share the ids of the genomes which fail, along with 5 genomes which pass. Having a sample set of 10

[2020-12-15 15:36] thorellk commented on #128
Hi @abhi18av. I am sorry, I did not see your question on sharing data with you. My theory is that this is mainly and issue when running the pipeline on the HPC when many processes are ran in parallel. But if you want to see if you can replicate the issue locally, the data can be found here https://www.dropbox.com/sh/hu77ya6enz19w61/AAC6W2ez1y-KHPm--nIbYcKVa?dl=0

The it62* and CCUG-7* samples fail

[2020-12-16 12:02] abhi18av commented on #128
Hi @thorellk, apologies for the late response on this, I'm on the move at the moment with less than nice connectivity :(

I did manage to make progress in containarizing and making BACTpipe runnable on other infrastructures (https://github.com/ctmrbio/BACTpipe/issues/126). With the data you've shared, I should be able to debug more effectively.

[2020-12-17 08:56] thorellk commented on #128
@abhi18av, no worries, I hope you will settle soon! Let me know if there is anything I/we can help out with in the meantime.

[2020-12-22 19:17] abhi18av commented on #129
@thorellk , just to confirm you would like this `rename_fasta.py` to be included in the `SCREEN_FOR_CONTAMINATION` process right?

And this renaming should occuer before any of the other processes?

[2020-12-22 19:20] abhi18av commented on #129
Am I correct in invoking the script like this

[code]

...this yields a runtime issue for me.

[code]

[2020-12-23 14:37] abhi18av commented on #128
@thorellk @boulund, I need a bit of help - whenever you're available next (perhaps Jan 2021) - could you please help me obtain a copy of `signalP version-5`?

NOTE: This is not a blocker for me as of now, I've added a `prokka_gram` option to skip the usage of `singalP` for local testing.

I think it requires an academic email and I only have a personal and commercial email.

Here's what you might

[2020-12-23 16:48] abhi18av commented on #128
With the `prokka_gram` set to `false`, all samples go through nicely.

[code]

<img width="911" alt="image" src="https://user-images.githubusercontent.com/12799326/103019291-59585600-4525-11eb-9fe5-10c533c973e1.png">

Once I have access to the `SignalP`, I'll continue debugging with the `prokka_gram = true` debugging.

[2020-12-26 18:03] thorellk commented on #129
Hi @abhi18av!
Sorry for my delay in responding. Yes, I thought it could be good to have it as step one in the `SCREEN_FOR_CONTAMINATION` process since it hopefully may decrease the risk for sendsketch failing. The --pre pattern should be the same as `pair_id_'contig'`, would that be possible? For the example above it would be `A-salmonicida_contig`

[2021-01-04 20:32] thorellk commented on #129
Hi @abhi18av! Now we are back from holidays :) Should we take a Skype/Zoom some day later in the week to catch up a bit?

[2021-01-05 10:12] abhi18av commented on #129
Hi @thorellk!

Sure, I’m available as well. Please let me know of a good time to connect.

[2021-01-05 11:40] thorellk commented on #129
Hi! Either today (I am available for another 4 hours), Thursday afternoon or Friday any day would work for me. How about you?

[2021-01-05 12:16] abhi18av commented on #129
@thorellk, today I have a few backlog tasks lined up for this week - if possible I do prefer Thursday :)

Please feel free to mark the calendar and share the meeting link at abhi18av__at__outlook__dot__com

[2021-01-05 12:20] thorellk commented on #129
Great, I sent an invite for a Zoom call Thursday 14.00 CET :)

[2021-01-05 12:25] abhi18av commented on #129
Thanks! Looking forward to finalizing the pipeline soon 😊

From: Kaisa Thorell <notifications@github.com>
Reply to: ctmrbio/BACTpipe <reply@reply.github.com>
Date: Tuesday, 5 January 2021 at 9:21 AM
To: ctmrbio/BACTpipe <BACTpipe@noreply.github.com>
Cc: Abhinav Sharma <abhi18av@outlook.com>, Mention <mention@noreply.github.com>
Subject: Re: [ctmrbio/BACTpipe] Integrate renaming script pre sendsket

[2021-01-08 01:36] abhi18av commented on #128
Failure report with https://github.com/ctmrbio/BACTpipe/commit/b24e98d837ab9205b9c5031ad65145599551211d and while running with the (default) `prokka_gram = true`

<img width="1188" alt="image" src="https://user-images.githubusercontent.com/12799326/103963107-435ab000-5137-11eb-8a0a-e2e272a1661c.png">

The following samples failed on the `SCREEN...` stage

<img width="993" alt="image" src="https://

[2021-01-08 02:16] abhi18av commented on #129
With this commit 7a6d00fa72f6628ee3b52b6a74db89801ab94d1b, the renaming script has been integrated.

[2021-01-08 02:16] #129 closed

[2021-01-08 03:55] abhi18av commented on #128
After the integration of the `rename_fasta.py` script https://github.com/ctmrbio/BACTpipe/issues/129 , I ran the pipeline again and it seems we are in good shape.

<img width="977" alt="image" src="https://user-images.githubusercontent.com/12799326/103972546-ff25da80-514b-11eb-9e50-c1c0de9794c5.png">

@thorellk @emilio-r , please give it a go on the cluster and verify the results.

[2021-01-08 08:35] thorellk commented on #128
I am running it on our cluster now. Will also make a test run locally on my laptop :)

[2021-01-08 08:56] emilio-r commented on #128
I tried running the commit from your branch now, @abhi18av, but all of the SCREEN's are failing due to "python3: can't open file 'rename_fasta.py': [Errno 2] No such file or directory". Are you seeing this error as well @thorellk?

[2021-01-08 09:07] thorellk commented on #128
@emilio-r, I am running from the newly merged 3.E branch and don't get that error (5 out of 65 have completed through prokka without error this far). However, I noted we need to omit the "--compliant" parameter in prokka to keep our new nice headers :)

[2021-01-08 09:12] thorellk commented on #128
Wait, it looks like the renaming script output is not used as output of the `SCREEN_FOR_CONTAMINANTS `process, i.e not as input to prokka? Or am I interpreting it incorrectly @abhi18av? The output of the renaming script should be fed both "internally" into sendsketch and "externally" into the next process, i.e. `PROKKA`.

[2021-01-08 10:19] abhi18av commented on #128
@emilio-r , sorry my bad - instead of that commit you could use the latest one. In that commit, the `rename_fasta.py` file wasn't elevated to an `executable` file so I made it an executable in a later commit.

@thorellk  Whoops, I didn't know that - I've simply used this only as an input to `sendsketch` here  https://github.com/ctmrbio/BACTpipe/blob/932d8d9a8229a66f55fe8c2a2efe6b83148d563d/modules

[2021-01-08 10:22] abhi18av commented on #128
@thorellk, shall I remove the `--compliant` argument from the script here as well?

https://github.com/ctmrbio/BACTpipe/blob/559db521a0b067c236bac7b2805b7adf28bdd091/modules/prokka/prokka.nf#L59

[2021-01-08 10:29] thorellk commented on #128
No worries, @abhi18av, that misundertstanding is on me not being clear about it. I removed the --compliant parameter and will test run with the most recent version now :)

[2021-01-08 12:41] thorellk commented on #128
Now I get the same error as @emilio-r ,` python3: can't open file 'rename_fasta.py': [Errno 2] No such file or directory` : I was running the `3.E 1b8625b`

[2021-01-08 12:45] emilio-r commented on #128
I'm currently stuck in HPC queueing purgatory but after changing the call for the file to conform with the other calls:
`    rename_fasta.py \
        --input ${contigs_file} \
        --output ${pair_id}_contig.fa \
        --pre ${pair_id}_contig
`
I've now managed to pass 5/10 (so far this is 100%) and counting.

[2021-01-08 12:47] abhi18av commented on #128
@emilio-r , perfect!

Yes, that is the issue which is now fixed with 85d0f17ca6242bbd930adc5656c7911f9b401d95

[2021-01-08 14:16] thorellk commented on #128
I just ran through everything on 65 completely different genomes and it almost works perfectly. One issue is that several strains get "Null null" on genus and species even if the sendsketch output file looks ok. @emilio-r, have you noted anything similar? I will dig into this more in detail.

[2021-01-08 14:34] thorellk commented on #128
I don't get it, when/why would it output genus "Null" and species "null"? None of the sendsketch output files looks weird and the same genomes have worked previously...

Seems like I cannot attach xml files so here is a Dropbox link to the multiQC output https://www.dropbox.com/s/8s08gwsp6mic3ub/multiqc_report.html?dl=0

[2021-01-08 14:35] thorellk commented on #120
This seems to have been solved by integrating the contig header renaming script.

[2021-01-08 14:35] #120 closed

[2021-01-08 14:50] boulund commented on #128
Try to see if you can identify where in the processing chain the nulls appear. Is it from sendsketch, or before or after that?

[2021-01-08 15:10] thorellk commented on #128
Seems like it happens when the genus is not in the list?

[code]

[2021-01-08 15:50] emilio-r commented on #128
After finally having some results I can confirm that I am seeing the same issue as you @thorellk. However, while sendsketch seems to output correct values (from .command.out):
`Parsing 192_S54_L001.contigs.fa
Wrote 42 contigs to 192_S54_L001_contig.fa.
neg	Helicobacter	pylori
`
Prokka doesn't recieve this (from .command.sh of the same):
`#!/bin/bash -ue
prokka         --cpus 1         --force

[2021-01-08 16:23] abhi18av commented on #128
Hmm, I think that there could be two reasons behind this

1. **Less likely:** The logic behind the `sendsketch` which reads through the global `$projectDir/resources/gram_stain.txt` and handles the overall determination of the genus.

2. **More likely:** The `stdout` is a bit unreliable and we should instead rely on a small CSV file which is passed from `SCREEN...` to `PROKKA` process.

I'll tweak

[2021-01-11 22:39] abhi18av commented on #128
Hi team,

Apologies for the late update on this one, when I seemed to be done with the removal of `stdout` I keep running into the pesky python script issue and this is what's taking up my time before I ask for another run on the cluster.

[code]

[2021-01-12 07:30] boulund commented on #128
That looks an error that would pop up if you're trying to split an empty string. Could this line be the source of the nulls we've observed?
I would argue that particular Python code needs some improvements with regards to error handling, it can be written a bit more defensively to ensure no invalid outputs are spat out. Step one would be to investigate which strings cause the issue you observed @a

[2021-01-12 09:11] emilio-r commented on #128
@abhi18av, I just ran 5499716 on the HPC and I did not see this error. Instead all of my 10 test samples pass and are given the correct values from sendsketch to prokka, and produce the expected MultiQC.

[2021-01-12 09:48] thorellk commented on #128
Ok, great @emilio-r, let's merge the branches as soon as you feel ready @abhi18av and then take it from there.

[2021-01-12 09:53] thorellk opened #132 "Decide on what files to output"
Currently the pipeline outputs a few more files than necessary. I'd suggest not to output the renamed `${pair_id}.contigs.fa` file on top of the shovill output folder. Also, there is no need to output the renamed `${pair_id}_contig.fa` file from the `SCREEN_FOR_CONTAMINANTS` process since an identical file will also be output in the `PROKKA` process.

[2021-01-12 10:11] abhi18av commented on #128
@boulund , interestingly @emilio-r  and I have seen this error pop up if there's a change in python version as well. This is counter intuitive as well but that's what we saw. What I'd really prefer is having a compiled binary or at least package and publish this script on conda - perhaps even on a non-bioconda channel (Gothenberg university, perhaps).

Let's add the enhacements of the python scrip

[2021-01-12 10:21] abhi18av commented on #128
Cool, then shall we consider [this current issue](https://github.com/ctmrbio/BACTpipe/issues/128) resolved?

[2021-01-12 10:23] abhi18av opened #133 "Improve error handling and user experience in the python scripts."
This suggestion originates from https://github.com/ctmrbio/BACTpipe/issues/128#issuecomment-758464808 .

[2021-01-12 10:44] abhi18av commented on #132
I'm adding a breadcrumb for a future reference.

We can use the `pattern` option for the `publishDir` directive to limit the files which are published.

https://www.nextflow.io/docs/latest/process.html#publishdir

[2021-01-12 10:55] thorellk commented on #128
I'd say yes. It has been an issue involving quite wide-ranging aspects of the original error ;)

[2021-01-12 10:55] #128 closed

[2021-01-12 11:04] abhi18av commented on #128
Hehe, true! This has undoubtedly been one of the longest issues I've participated on Github. Happy to be moving forward :)

[2021-01-12 11:26] boulund commented on #128
That behavior is odd. I'd love to hear more about why you think that occurs.

On the topic of putting the script elsewhere I'm actually not in favor of packaging and publishing this script in a separate system, that just adds more unnecessary steps and complexity to the inclusion of what is really just a very minor internal implementation detail in BACTpipe. It would make more sense to just keep a

[2021-01-12 13:06] thorellk commented on #132
Ok, I guess this is the only thing remaining to release v 3.0. What do you think @abhi18av @emilio-r @boulund? Does all the files above (plus the new .tsv file from SCREEN_FOR_CONTAMINANTS) really need to be written out or can they be removed as soon as they have been used by the next process?

[2021-01-12 13:20] emilio-r commented on #132
My piece is that we should aim at taxing the user's storage as little as possible. For instance, right now we have at least four copies of the ${pair_id}_contig.fa file (two in results and two in the resp. work-directories). Depending on what species you are putting through the pipe, and how many genomes there are, this may have a big impact.
As these types of intermediate files have no real use f

[2021-01-12 13:47] abhi18av commented on #132
Actually they are being written out because the publish strategy and stageIn/Out strategy is set to copy by default on the executors. Using the pattern option for publishDir, we can limit what gets published. Emilio, would you like to give this on a shot in the meantime?

I'd only be able to slice out time later in the evening due to a priority task at hand.

From: emilio-r <notifications@github.c

[2021-01-12 13:51] boulund commented on #132
I see no reason to publish those files either. They are there in the work folder if anyone would want to troubleshoot things anyway.

When we run nextflow pipelines locally we typically use the hardlink directive to reduce unnecessary space waste. Symlinks also works, but that creates a potential issue if users for some reason decide to delete the work dir not realizing it will delete all the outp

[2021-01-12 20:35] abhi18av commented on #128
@boulund, I agree it makes sense to keep the script close to the pipeline. We do need to figure out the reason why the `out of index error` pops up with different Python version.

Let's look into this when we address the error handling situation in the python script.
https://github.com/ctmrbio/BACTpipe/issues/133

[2021-01-13 07:44] boulund commented on #128
Step one is to be able to reliably reproduce the error, we need to find input samples that behave the way you are describing. Then it should be straightforward to fix the error

[2021-01-13 11:24] thorellk commented on #132
Should we implement this before the 3.0 release? I read the info in the link you sent @abhi18av and agree on what @boulund wrote about keeping the copying strategy but I am not sure how to best apply it practically. Would you be able to give it a go? If so, I will update the docs to adhere to our latest changes in the meantime.

[2021-01-13 11:33] abhi18av commented on #132
Hi @thorellk 👋 ,

Yes, I'm working on this on improving the file outputs here https://github.com/ctmrbio/BACTpipe/pull/135

I'd just like to confirm the following status.

[code]

[2021-01-13 11:41] abhi18av commented on #132
Hmm, not really.

We could set the default for all process to publish, and add a parameter _per process_ to allow the user to specify whether to publish the results of that process at all or not.

The downside is that, we'd be increasing the total number of parameters 👀.

[2021-01-13 11:43] thorellk commented on #132
What do you think @boulund and @emilio-r? I guess those two processes would be the only ones that would make a difference size-wise. At least the trimmed reads files can be quite large.

[2021-01-13 12:17] boulund commented on #132
I think the opposite would make more sense actually: introduce flags such as e.g. `--keep-trimmed-fastq`, so the defaults can be to not keep them.

[2021-01-13 12:22] thorellk commented on #132
Ok, then let's introduce the `--keep-trimmed-fastq`, and `--keep-shovill-output` to start with and see if someone asks for the other options as well?

[2021-01-13 14:23] abhi18av commented on #132
@thorellk ,

I've added these parameters with this commit https://github.com/ctmrbio/BACTpipe/pull/135/commits/575aeb6362f1f455c6018326637c43430e2522aa

However, one caveat of using stageIn/Out strategy set to copy by default on the executors is that the `SHOVILL` process still publishes `shovill` folder with `*_assembly_stats.txt` and correctly ignores the publication of `*_shovill` folder and `*

[2021-01-13 14:47] thorellk commented on #132
To output the stats file is fine, the shovill outputs are the heavy ones

[2021-01-13 14:49] thorellk commented on #132
I just noted the fastp .json output file needs to be output as well since MultiQC is using that for statistics purposes. It also importantly needs to have the suffix *fastp.json and not only *json for MultiQC to recognize it

[2021-01-13 15:13] abhi18av commented on #132
Okay, so with this commit https://github.com/ctmrbio/BACTpipe/pull/135/commits/215bd2640b3208805036910de7d3ae4bedd20c33 I've update

- the name of the shovill output param to `keep_all_shovill_output` to better reflect the current situation
- the name of the `json` files generated by `fastp`

[2021-01-13 15:17] abhi18av commented on #132
I think we should do the same for `fastp` as well and by default publish the `json` files - right now it won't publish anything.

 If you agree I could update the config param to `keep_all_fastp_output` to allow the user to get the `fastp` files as well. What do you think?

[2021-01-13 15:18] abhi18av commented on #132
Whoops, my bad.

This wouldn't be possible since the `FASTP` process occurs at the beginning.

[2021-01-13 15:45] emilio-r opened #136 "Update flowchart for new 3.0 options"

[2021-01-13 19:21] thorellk commented on #132
The json and assembly stats files are both a kind of log/stats files that will tell the user about the quality of the data and the assembly results respectively so it would make quite a lot of sense to output them regardless. So I think `--keep-trimmed-fastq` and `--keep-shovill-output` (assemblystats is not a part of the shovill process or software itself) are still reasonable names for the param

[2021-01-13 19:24] thorellk commented on #132
(i.e. always output json file but not fastq files from fastp and default don't output shovill output folder but always output assemblystats file).

[2021-01-13 22:55] abhi18av commented on #132
Oki doki, let me see how can we publish the minimal set of files by default.

[2021-01-14 11:38] thorellk commented on #132
Great, the way I visualized it is documented in the output.rst file of the 3.E docs folder.

[2021-01-14 11:53] #136 closed

[2021-01-14 11:53] thorellk opened #137 "Update citation/publish pipeline"
With the 3.0 release we should update the Zenodo citation so that the correct people are acknowledged. Should we also try to publish the pipeline as some kind of short communication? Or is that to aim too high?

[2021-01-14 11:55] thorellk commented on #123
@emilio-r and @boulund, do you have any input on this? Should we make another evaluation of resource usage based on the jobstats or should we leave it for now?

[2021-01-14 12:03] emilio-r commented on #123
I think that any needed tweaks in the current set-up will become apparent once we start running it on our new data. Perhaps we should first see if we need to tweak the values, based on how the pipe handles that?

[2021-01-14 12:04] thorellk commented on #123
Ok, let's close it for now and see if we have a reason to optimise it at a later timepoint.

[2021-01-14 12:04] #123 closed

[2021-01-14 12:11] emilio-r commented on #117
The script has been updated with the requested features and any changes to it now belongs to #133.

[2021-01-14 12:11] #117 closed

[2021-01-14 17:09] abhi18av commented on #137
I think that this makes sense. While working on my masters, I realized that referencing book/articles is much easier than referencing source code and repositories. When I came across this pipeline I loved this idea and release my own work via zenodo https://zenodo.org/record/4294795

I do think that academically speaking an updated citation for the latest stable version makes things more authentic

[2021-01-14 17:09] abhi18av commented on #137
And I'm also in favor of following this up with a short communication as well.

[2021-01-15 00:26] abhi18av commented on #132
Here's how the pipeline results stand at 379bb408c1da6afe872228e8eaf0cb174300433c

1. **With** `--keep_trimmed_fastq` and `--keep_shovill_output`

[code]

2. **Without** these options i.e the default

[code]

With this feature added, based on our discussions - I'm now marking this issue as done:)

[2021-01-15 00:26] #132 closed

[2021-01-15 09:31] boulund commented on #137
I can't remember exactly since it was a while since I set it up, but I think that if we make a release here on github it will be very easy to assign a new DOI using that release.

[2021-01-15 12:02] abhi18av commented on #137
That makes sense, it's almost like a CI/CD. Btw, I'm curious does it parse the commits for list of people who have contributed?

![image](https://user-images.githubusercontent.com/12799326/104725123-a2cc4780-5757-11eb-9afc-f86fa242a76c.png)

[2021-01-15 12:08] boulund commented on #137
Yes, I think it does

[2021-01-15 19:04] #106 closed

[2021-01-15 19:07] thorellk commented on #113
Done with v3.0

[2021-01-15 19:07] #113 closed

[2021-01-15 19:07] thorellk commented on #109
Done with v3.0

[2021-01-15 19:08] thorellk commented on #93
In optional shovill output folder in v. 3.0

[2021-01-15 19:08] #93 closed

[2021-01-15 19:09] thorellk commented on #36
This is implemented by the sendsketch step in v 3.0

[2021-01-15 19:09] #36 closed

[2021-01-15 19:09] thorellk commented on #54
Implemented in v 3.0

[2021-01-15 19:09] #54 closed

[2021-01-15 19:10] thorellk commented on #87
This should be implemented by letting conda handle the dependency installation in v. 3.0

[2021-01-15 19:10] #87 closed

[2021-01-15 19:11] thorellk commented on #100
This is implemented as a default in v 3.0

[2021-01-15 19:11] #100 closed

[2021-01-15 19:13] thorellk commented on #105
I guess this is still not solved/agreed on, right?

[2021-01-15 19:14] thorellk commented on #104
This is implemented in v 3.0

[2021-01-15 19:14] #104 closed

[2021-01-15 19:26] thorellk opened #138 "The documentation for 3.0 is not automatically updated by sphinx"
Maybe the config file is outdated? @boulund, or @abhi18av are any of you up to date with how to do this?

[2021-01-15 19:57] abhi18av commented on #138
Unfortunately no, I'd need to read quite a bit for debuggin sphinx configs.

[2021-01-15 20:00] thorellk commented on #138
Ok, @boulund did it last time so let's give him a chance to look at it first. I have never done it before and don't have any time to dig into it deeper until the end of next week...

[2021-01-16 08:30] boulund commented on #138
I think you were just a bit impatient. I just looked at https://bactpipe.readthedocs.io/en/latest/ and it looks updated to me?

[2021-01-16 08:33] boulund commented on #137
When you've tested that everything works for the 3.0 release in the main branch and all the docs have hade their final touches, can you make a release on github so I can link it into Zenodo?

[2021-01-16 13:37] thorellk commented on #138
Now it does, I guess it just took a while then :)

[2021-01-16 13:37] #138 closed

[2021-01-17 14:55] boulund opened #139 "Update changelog"
The changelog does not include anything about the recent 3.0 release. It should be updated to highlight significant changes so users can easily see how the new release affects them.

[2021-01-18 18:23] thorellk commented on #79
Implemented in v 3.0

[2021-01-18 18:23] #79 closed

[2021-01-18 23:44] abhi18av commented on #43
@thorellk hasn't this been included in the `3.0` release?

[2021-01-19 08:52] thorellk commented on #43
Not really. The assembly summary stats file is output after the Shovill process but MultiQC does not yet have support for statswrapper.sh outputs. So either we have to add this functionality to MultiQC (it already has support for several other bbmap tools but not statswrapper) or change the tool used for assembly statistics. This would be an enhancement but is in no way necessary.

[2021-01-20 11:58] emilio-r commented on #139
I gave this a shot with the main changes. Anything that I am forgetting?

## [3.0.0] - 2021-01-15
### Added
- A script was implemented that renames the headers of fasta-files.
- New optional flags to improve lessen storage use:
	'--keep_trimmed_fastq' will allow output of trimmed reads (default = not saved)
	'--keep_shovill_output' will output the assemblies from shovill, in conjunction
	with asse

[2021-01-21 08:05] #139 closed

[2021-01-21 08:54] thorellk commented on #78
Is this still actual @boulund?

[2021-01-21 09:21] boulund commented on #78
Not sure really... It seems it is not relevant anymore, considering we've stopped chaining like that in the process definitions and things work well anyway. This has been tested a lot in the `screen_for_contaminants` module :D

[2021-01-21 09:21] #78 closed

[2021-01-21 12:35] thorellk opened #142 "BACTpipe workflow completed without errors"
"BACTpipe workflow completed without errors " is the output regardless as far as I can see. Even when I ran it last night and basically every process failed due to write errors (not BACTpipe related). What are the criteria for this message?

[2021-01-21 13:13] abhi18av commented on #142
Hi @thorellk - good catch!

I can't believe that even after watching it fail (during dev) so many times, I didn't catch this peculiarity.

The issue was in the design of `workflow.onComplete` block, I've updated that logic using the details from
https://www.nextflow.io/docs/latest/metadata.html#decoupling-metadata

I've added the linked quick PR for this. Please let me know if that worked or not.

[2021-01-22 08:12] #142 closed

[2021-01-27 15:10] emilio-r opened #144 "Shovill-Sendsketch skipping"
When running the pipe (Master branch) on a large dataset of 476 samples we found that roughly 8% (40/476) of the samples went through shovill correctly (all produced results from the sendsketch-parallel statswrapper) but were not passed correctly over to sendsketch, who have empty work-directories, or anything else downstream.

They produce the same error as reported in #141:

xf-scratch-dir s81:/

[2021-01-27 15:47] abhi18av commented on #144
Hi @emilio-r ,

Just to confirm, when you run the `sendsketch` scripts manually on these samples, they produce the desired results without failure?

It's quite curious why we are observing edge cases intermittently and would like to understand whether it's related to the design of the script or an issue with one of the tools we have used in the pipeline.

[2021-01-28 08:56] emilio-r commented on #144
Hello @abhi18av,

Now we've used the pipe to rerun all those that failed the pass. This time 10/40 failed to make it through to sendsketch, but again had good shovill-results. Again they display this error:

nxf-scratch-dir s23:/scratch/3626937/nxf.fksV2koO4R
Adding /crex/proj/uppstore2017270/common_genomes/Achtman_genomes/rerun/work/conda/env-3b12f71134feb842065aa76592fe3f68/opt/bbmap-38.87-0/res

[2021-01-28 10:20] abhi18av commented on #144
So, I gather that it's an issue with the pipeline or perhaps with the file system latency since you mentioned that in the second run of the pipeline with the batch of 40 (which failed earlier), you were able to get the results for most of them.

Would it be possible for you to share the `nextflow.log` file for this?

[2021-01-28 10:21] abhi18av commented on #144
Are these issue with the pipeline only reproducible with `rackham` profile or with other profiles as well?

[2021-01-28 14:56] emilio-r commented on #144
@abhi18av, I have sent you the log for the smaller sample now. As for if the error persists when using other profiles, perhaps @thorellk or @boulund could provide some insight there, as I'm still having issues with my conda-setup and am unable to run it off from the HPC.

[2021-01-28 17:31] abhi18av commented on #144
@emilio-r , I have gone through the `nextflow.log` and wasn't able to find any oddities there.

Please let me know if it'd be possible for you to isolate some samples which always fail (if any) using a local machine - this would greatly help in pin-piont and fix the bug.

In case, this is still intermittent, before picking up this issue I think it's better to containarize the pipeline https://gith

[2021-01-28 18:22] thorellk commented on #144
I will run it locally on my laptop over night and see if I can replicate it or if it has to do with some read/write/forwarding issue on the HPC or something else.

[2021-01-28 19:44] thorellk opened #145 "Limit MultiQC search options"
We had an incident where the job executing the MultiQC process timed out and I therefore have a question. MultiQC is currently executed like this:

`multiqc . --filename multiqc_report.html`

This should mean that MultiQC searches all the file tree below where the script is executed but maybe this is overrided by that the module input is only the `path('*.json')` and `path('*_prokka')` files? If t

[2021-01-29 08:05] boulund commented on #144
Do we have a good test dataset somewhere that is easily accessible? I could also try to run this on a couple of different systems to see if I can replicate the issue

[2021-01-29 12:24] abhi18av commented on #145
Hi @thorellk ,

I think that there must be some options which allow us to tweak this behavior
https://multiqc.info/docs/

In case it doesn't then it'd be really helpful if you can indicate the files which you'd like to be used by MultiQC (such as `prokka/*txt` etc) in a file tree format like

[code]

And attach a sample MultiQC report so that can incorporate the changes and make sure that we are s

[2021-01-29 13:38] thorellk commented on #145
For each sample, the files for MultiQC are:
`fastp/${pair_id}.fastp.json` and `prokka/${pair_id}_prokka/${pair_id}.txt`

So basically the total input files would be covered by `fastp/*` and `prokka/*/*.txt`

[2021-01-29 13:40] thorellk commented on #144
I now ran it on my laptop and 4/48 samples fails sendsketch with the log file similar to what @emilio-r gets on out HPC.

[code]

[2021-01-29 16:22] abhi18av commented on #145
Cool, let me raise a PR for it soon :)

[2021-01-29 16:24] abhi18av commented on #144
Perfect!

@thorellk would it be possible for you share these samples with me? I'd like to have a sample set of 10, with these 4 included in the set.

Also, please do share the `nextflow` command line with parameters you're using to run the workflow.

[2021-02-01 08:55] boulund opened #146 "Running with the latest stable nextflow version (20.10.0) does not work"
We should have mentioned in the documentation that running BACTpipe doesn't work with the latest stable release, as it relies on the new stub feature introduced in the latest edge release:

[code]

Not very nice for new users to have to find that out for themselves.

Installing the latest edge release solves the issue, but it is not mentioned anywhere in the BACTpipe docs.

[2021-02-01 10:13] boulund opened #147 "The docs still makes references to database paths"
This section still mentions paths to reference databases: https://github.com/ctmrbio/BACTpipe/blob/master/docs/source/running.rst#changing-settings-on-the-command-line

I think that is no longer relevant.

[2021-02-01 11:15] boulund opened #148 "Warn user if signalp is missing if prokka_gram is true"
I would like BACTpipe to detect if `signalp` is missing if `prokka_gram` is set to true, and warn the user that prokka requires signalp if combined with the `prokka_gram` option and perhaps instruct the user to run with `--prokka_gram false` if they want to proceed.

Now that I'm thinking of it, is `prokka_gram` really the best name for that config setting? Shouldn't it be `--prokka_signal_peptide

[2021-02-01 11:27] boulund opened #149 "SHOVILL process running with default threads 8"
It looks like the SHOVILL process doesn't adjust the number of threads according to its environment. It appears to be running with the default settings (i.e. 8 threads) all the time.

https://github.com/ctmrbio/BACTpipe/blob/master/modules/shovill/shovill.nf#L15-L21

We should add `--cpus ${task.cpus}` to the call to shovill to ensure it optimally uses the resources provided to the process in the

[2021-02-01 11:38] abhi18av commented on #149
Good catch @boulund !

I've fixed this in https://github.com/ctmrbio/BACTpipe/pull/150

[2021-02-01 11:40] #149 closed

[2021-02-01 11:43] abhi18av commented on #148
Yeah, I always thought it's not a nice name since it doesn't really convey anything to the end user. I think, `prokka_signal_peptides` makes more sense to end users 👍

[2021-02-01 11:52] abhi18av opened #151 "Add automated testing via Github workflows"

[2021-02-01 11:56] boulund commented on #151
I think this is a duplicate of the ancient issue #46

[2021-02-01 11:58] #151 closed

[2021-02-01 12:01] abhi18av commented on #47
This is related to https://github.com/ctmrbio/BACTpipe/issues/126

[2021-02-01 12:06] emilio-r opened #152 "shovill.log output as standard"
I suggest that we again make the Shovill output file `shovill.log` into standard output. It contains very valuable information about the assemblies and just a relatively small text file, making the storage-use rather small in comparison to the usefulness of this file.

[2021-02-01 12:15] boulund commented on #152
I think this is a great suggestion! Make a PR!

[2021-02-01 12:15] thorellk commented on #147
Do you mean the prokka reference path @boulund? This is a feature we use regularly.

[2021-02-01 12:17] thorellk commented on #146
Yes, this is stated on the front page but maybe we should put it in the installation section as well?

[2021-02-01 12:20] #146 closed

[2021-02-01 12:22] boulund commented on #147
I was mostly thinking of this line:

https://github.com/ctmrbio/BACTpipe/blame/master/docs/source/running.rst#L40

As far as I know, this line is a remnant from the old version that required a mash screen database path. What do you think? Just want to minimize the risk for confusion for new people reading the docs.

[2021-02-01 12:28] #147 closed

[2021-02-01 12:28] boulund commented on #146
Yes, it's in the README, but not mentioned anywhere in the docs. I think it should be there as well, at least until it's a feature that is part of the stable releases.

[2021-02-01 13:12] boulund commented on #145
@thorellk You are correct that MultiQC executed like `multiqc .` will look for files matching the predefined matching patterns in MultiQC to determine which files to parse and include in the report. However, just like you mentioned, since we have configured it so that the MULTIQC process only takes the fastp reports and the prokka outputs there shouldn't be much else in the process work directory

[2021-02-01 14:49] boulund commented on #144
What do you think of trying this idea:

If there is some kind of issue with the output file from the Python script `rename_fasta.py` being created inside the same process where `sendsketch.sh` is consuming it. Couldn't we move the renaming script to the shovill step? Logically, I think it actually makes more sense to run that as part of the shovill process, rather than in the contamination screeni

[2021-02-01 17:58] abhi18av commented on #47
Since we're mostly relying on vanilla conda packages (apart from the prokka one), I think we could re-use the same pattern from here https://github.com/seqeralabs/gatk4-germline-snps-indels/tree/master/containers

However, the question is where are we going to host these containers. Here are some options

1. Dockerhub / Quay.io (preferred)
2. Personal user repo / Institutional repo

For our own pu

[2021-02-02 07:25] boulund commented on #47
I think that sounds great, and is how we've built it for other pipelines at CTMR. I have no preference with regards to dockerhub/quay.io, so whatever you think is most convenient is good to me!

I think we should prepare a docker image _without_ signalP as the default for most users, but still add instructions for users so they can build their own image with signalP if they want to. We should defi

[2021-02-02 07:36] emilio-r commented on #47
The only input I have on this is that we are not allowed to use Docker on our HPC due to "security concerns". We have been able/permitted to install and run programs via other containers, such as Singularity, however.

[2021-02-02 07:40] emilio-r commented on #152
@abhi18av, might I trouble you to implement this change at some point? I feel that I'm too unfamiliar with the structure of BACTpipe as it looks now, and would need to take too much time to get accustomed to it again before I would feel comfortable changing something like this.

[2021-02-02 07:44] boulund commented on #152
I could point you to where the change needs to be made:

https://github.com/ctmrbio/BACTpipe/blob/master/modules/shovill/shovill.nf#L4

[2021-02-02 07:47] boulund commented on #47
It should be straightforward to run a Nextflow workflow with Singularity using Docker images as sources for the singularity images (Singularity can seamlessly use Docker images).

[2021-02-02 08:25] boulund commented on #145
My guess (without any checking) is that it is slow because MultiQC reads through all files in the prokka output folders to see if any information in the files match, as it seems we are unlucky enough that pretty much all files in these directories are large, but small enough not to be ignored by MultiQC (it by default ignores files 5MB+, and on the test set I just ran about 88% of the files are sm

[2021-02-02 09:00] emilio-r commented on #152
Thank you for the assistance @boulund! I have now made the change, tested it, and made a pull request here #154.

[2021-02-02 09:05] boulund commented on #152
Nice work! Impressive that you made it so quickly! Glad to hear it worked well in testing.

[2021-02-02 09:17] boulund commented on #152
Merged to develop 👍

[2021-02-02 09:17] #152 closed

[2021-02-02 09:19] boulund commented on #144
I implemented my idea from above and tested it, works well! I accidentally pushed my changes directly to the develop branch without making a pull request, sorry about that!

I'm starting to become pretty sure the issues we've observed with some samples failing are related to scratch staging. Disabling scratch removed all issues for me completely.

[2021-02-02 09:29] boulund commented on #133
I think this is solved!

[2021-02-02 09:29] #133 closed

[2021-02-02 09:36] boulund commented on #145
I'm testing these changes right now. Will make a PR to develop as soon as I've verified that it works.

[2021-02-02 09:41] boulund commented on #105
I'm not sure what I think about this anymore. Moving output files to publishDir's is a convenient solution that makes it easy for users to just delete the work dir when they're happy with a run. However, I think it can make troubleshooting a bit more difficult, as all files are no longer present in their work dirs... 🤔

I rarely run BACTpipe in environments where I'm super constrained disk space w

[2021-02-02 09:42] thorellk commented on #105
I recognise that feeling ;) I am fine with leaving it as it is for now.

[2021-02-02 09:44] boulund commented on #105
Shall we close this for now then, and reopen or create a new issue if we want to raise this in the future?

[2021-02-02 09:45] thorellk commented on #105
Let's do so!

[2021-02-02 09:45] #105 closed

[2021-02-02 09:45] boulund commented on #144
Here's the commit if you want to review it

https://github.com/ctmrbio/BACTpipe/commit/5135d0fa270a1ad993405590ec0423e009bbf5ff

[2021-02-02 09:46] thorellk commented on #144
Great that you have managed to narrow down a probable cause for this. I am not sure what the difference between different scratch settings are though, could you explain that to me?

[2021-02-02 09:50] boulund commented on #144
Setting `scratch = false` makes the nextflow process read the input files directly from the work dir on the shared network disk, and write output files directly into the work dir folder on the shared network disk.

With `scratch = true` it instead creates a copy of the workdir on the `$TMPDIR` on the compute node and copies (or symlinks, depends on the `stageIn` and `stageOut` settings) the input

[2021-02-02 13:10] #95 closed

[2021-02-02 13:15] boulund commented on #94
I think running InterProScan is outside the scope of BACTpipe, closing this. We can reopen if we want to discuss this more in the future.

[2021-02-02 13:15] #94 closed

[2021-02-02 16:43] abhi18av commented on #145
This issue is resolved by https://github.com/ctmrbio/BACTpipe/pull/158

[2021-02-02 16:43] #145 closed

[2021-02-02 17:40] abhi18av commented on #144
Ah, now I recall that last year I was facing some issues like that and it disappeared after I updated the `scratch` in `local` config.

This time, I was a bit confounded about why it only happens with this particular step - is this the most I/O intensive one?🤔

[2021-02-02 18:08] abhi18av commented on #47
Cool, then I have a request for you @boulund and @thorellk  , could either one of you please create a separate quay.io repository for each process used in `BACTpipe` and add my user ID as a collaborator please?
https://quay.io/user/abhi18av/

I'd build these containers, test and then push to tese repos.

[2021-02-03 13:04] emilio-r commented on #144
I now ran 10 samples three times on the HPC, with the rackham profile set to `scratch = false`. In two of the runs all 10 samples passed. In the third run, however, two samples still failed with the usual error:

Adding /crex/proj/uppstore2017270/Emilio/bactpipe-testing/testing_Fs/test/no_scratch_2/work/conda/env-3b12f71134feb842065aa76592fe3f68/opt/bbmap-38.89-0/resources/blacklist_refseq_merged.

[2021-02-03 18:53] abhi18av commented on #144
Just to confirm, @boulund  and @emilio-r  you are running this on different HPC systems right?

Could it be something peculiar to the execution env setup?

[2021-02-09 11:13] emilio-r commented on #144
While I cannot answer your last question @abhi18av, I can report some new findings on the matter: After having now truly stress tested sendsketch on its own by running it on over 3000 samples, on our HPC, I am seeing that roughly 9% fail being sketched and report the same error as stated here. Also, about 1% pass sendsketch, but result in strange output. So, whether the issue only affects our HPC

[2021-02-09 12:26] boulund commented on #144
Can we add a retry directive to that process just to see if that reduces the overall fail-rate when processing many samples? It sounds like it is most often solved by doing a second run?

I guess this should be considered an expected issue when depending on a tool that communications with an external server.

[2021-02-09 12:46] abhi18av commented on #144
Hmm, this is quite interesting 🤔

Anyways, it makes sense to add the following snippet directly to the base `SCREEN...` process instead of any particular profile to avoid duplication of code.

[code]

This needs to be added here

https://github.com/ctmrbio/BACTpipe/blob/36d0bad23d4e29d28e64c90b24e3aa117eae5682/modules/screen_for_contaminants/screen_for_contaminants.nf#L5

Also, @thorellk do you th

[2021-02-09 12:51] boulund commented on #144
The network requirements for sendsketch are _minute_. It communicates a sketch (a couple of kb at most) to a remote server, then the results is also very small (the text file out get as output).

[2021-02-09 12:58] abhi18av commented on #144
Ah, okay understood. Thanks 👍

[2021-02-15 15:27] abhi18av commented on #144
Hi everyone,

Just wanted to check in and see if you've tried out this suggestion here https://github.com/ctmrbio/BACTpipe/issues/144#issuecomment-775911315 on the HPC cluster.

I wouldn't be able to test this one due to the lack of infra and sample size on my end. Would be happy to assist in the debugging of any issues.

[2021-02-15 17:40] boulund commented on #144
I have been off work the past two weeks, and will be working a very limited amount of time going forward because we just had a baby. Just want you to know not to expect me to have much time for anything in the near future 😊

[2021-02-15 17:48] abhi18av commented on #144
That's great news @boulund ! Congratulations 🎉

[2021-02-16 09:35] boulund commented on #47
I created a quay.io organization for ctmrbio, and added you as a collaborator @abhi18av . Feel free to start setting things up, I think you should have all the permissions you need to start configuring things for BACTpipe.

@thorellk @emilio-r  if you create accounts on quay.io I can add you as well.

[2021-02-16 09:43] thorellk commented on #47
I have the user name thorellk there as well @boulund :)

[2021-02-18 11:47] emilio-r commented on #144
Hi @abhi18av, sorry for the delayed answer. I have tried the "errorStrategy "retry" maxRetries 3" approach on the HPC now and, although I am seeing some other issues (time outs) I cannot rule out that they are due to the HPC itself. I will try running it again a little later but for now it seems that this may be a good workaround for the sendsketch-issues.

[2021-02-19 12:05] emilio-r commented on #144
I have now tested this some more and find that with this strategy, all 45/45 tested samples pass and produce the desired result in MultiQC. Taken with the tests I ran yesterday, where all failures are believed to have come from HPC issues, I feel comfortable to say that this approach works well. While I can see that the odd sample may still fail all three retries, this should be just a negligible

[2021-02-19 12:12] abhi18av commented on #144
That's great new @emilio-r !

I guess we can now move forward with the inclusion of the changes (via PR) and then close this issue. What do you think?

[2021-02-19 12:13] thorellk commented on #144
Great @emilio-r! Yes, @abhi18av I agree, let's do that.

[2021-02-19 12:24] abhi18av commented on #144
The workaround has been merged to `develop` and the issue can be closed.

[2021-02-19 12:24] #144 closed

[2021-02-21 17:44] abhi18av commented on #148
Hi team,

I'd like to confirm if there is a reliable cross-platform way we can check whether this `signalp` dependency exists in the env or not?

 By default, I'm inclined to go with `which signalp` and then check within `bash` if this is null, but I'm not too confident with my `bash-fu` and there might be something more elegant :)

[2021-02-22 12:48] boulund commented on #148
A quick google led me here:
https://stackoverflow.com/questions/592620/how-can-i-check-if-a-program-exists-from-a-bash-script

Sounds like `command` would work well in our case as well, right?

[2021-02-22 15:03] abhi18av commented on #148
Okay, I'm just wondering whether this would be available in `bioconda` containers - which might be trimmed down in terms of packaged tools.

Let me check and circle back.

[2021-02-23 01:58] abhi18av commented on #47
Update:

We're good to go ahead with Docker  🐳

I'll iron out a few details soon and then request the PR to be taken for a spin on HPC .

![image](https://user-images.githubusercontent.com/12799326/108792976-83230d00-75a8-11eb-929b-f555272098d7.png)

![image](https://user-images.githubusercontent.com/12799326/108792933-6be41f80-75a8-11eb-8ad9-05a99da92523.png)

[2021-02-23 07:14] boulund commented on #47
Very nice!

[2021-03-23 09:09] emilio-r commented on #137
Was there ever any resolution to this? It seems that the docs have been updated already. I am asking as I will be starting to write my thesis very soon and having a DOI then, by which to cite the work with BACTpipe 3.0, would be great.

[2021-03-23 09:10] boulund commented on #137
Someone just needs to make a new release on Github so we can attach a new Zenodo DOI to that release.

[2021-04-14 11:46] boulund opened #162 "Replace SendSketch with Kraken2"
@abhi18av @emilio-r @thorellk
I spoke to Kaisa earlier today about our frustrations with SendSketch being so unreliable in the pipeline, so we decided we should skip it entirely. It brings more issues than it solves at the moment.

Looking around what other bacterial whole genome assembly pipelines use for taxonomic classification it seems Kraken2 is the most common. Reviewing our options I feel w

[2021-04-15 02:35] abhi18av commented on #162
Thanks for the update @boulund  👍

I am happy that we have decided to move beyond `sendsketch` since the it doesn't really make the workflow reproducible at all.

[2021-04-30 08:50] bioramg opened #164 "Invalid process definition -- Unknown keyword 'stub' @ line 20, column 5"
Hi,
I installed dependencies as per suggestion. After the instalment, I run to check...
[code]

Then, I tried to assemble my bacterial genomes. But I am getting an error like this:
[code]

What could be the problem and how to solve it?

Thank you.

[2021-04-30 13:59] abhi18av commented on #164
Hi @bioramg ,

Thanks for reporting this issue, the `stub` is a new feature in Nextflow and you can read more about this [here](https://www.nextflow.io/docs/edge/process.html?highlight=stub#stub).

The problem you're facing could be solved by installing the latest NF version you could refer this comment here https://github.com/ctmrbio/BACTpipe#quick-start .

Warmly,
Abhinav

[2021-05-05 06:22] boulund commented on #164
@abhi18av do we have any information on when a new release of Nextflow is coming that will include the `stub` feature? This has bitten be several times as well, really frustrating 😄

[2021-05-05 06:22] boulund commented on #162
Implemented and tested in the dev branch

[2021-05-05 06:22] #162 closed

[2021-05-05 06:23] boulund commented on #148
@abhi18av Did you ever have time to check this? We can push this feature to the next release, so it's not a big deal right now.

[2021-05-05 06:24] boulund commented on #137
Once we merge the pending changes from the develop branch into the main branch I'll make a new release and update the Zenodo stuff

[2021-05-05 06:39] boulund commented on #97
It appears to have been renamed to SCARAP
https://github.com/swittouck/scarap

It does look very interesting! Perhaps something to consider for the next major BACTpipe version?

[2021-05-05 10:59] abhi18av commented on #164
Yeah, I can understand.

The good news is that the new stable release is out already `21.04` https://github.com/nextflow-io/nextflow/releases/tag/v21.04.0

NOTE: NF generally makes a stable release in April and October (similar to Ubuntu) in addition to the monthly `edge` releases.

[2021-05-05 11:02] abhi18av commented on #148
@boulund , not yet unfortunately 😞

I agree this could be added as a patch later.

But I did take a look yesterday and it seems that the `which` command is available within the `bioconda` containers, `hash` isn't.

Not sure how exactly to implement this feature. Perhaps a groovy function or NF utility process to check the presence of `signalp`, what do you suggest?

[2021-05-05 11:22] boulund commented on #164
Fantastic 🎉
Then I guess we should update the README accordingly, could you push such a commit to the dev branch so it's merged with the rest of the changes in #160 ?

[2021-05-05 11:38] boulund commented on #148
I'm also not entirely sure what the best way to implement this is...

Maybe it's easiest to just do it in the bash code within the prokka process itself? E.g. in https://github.com/ctmrbio/BACTpipe/blob/master/modules/prokka/prokka.nf#L50-L65

Maybe something like this could work?
[code]

It won't produce a very visible warning message, however. It will only be shown in the stdout of the prokka pr

[2021-05-05 11:44] boulund commented on #148
Looking at it again I don't think this is the best idea. It might be better as you suggested to write a small Nextflow/groovy function to check for the presence of `signalp` before entering the bash section of the process definition. That would make it a lot easier to issue meaningful warning messages to the user as well. It's important that the function can check in the correct context (conda or

[2021-05-06 07:02] abhi18av commented on #164
Sure, I've added it here https://github.com/ctmrbio/BACTpipe/pull/165/commits/2300472a6d80493a95393776079bf64aca611923

Also, closing the issue since the instructions are updated.

[2021-05-06 07:02] #164 closed

[2021-05-06 08:47] emilio-r opened #166 "Changelog 3.1"
Updated changelog for the upcoming 3.1 (#160) release, is there anything I'm forgetting or should rephrase?

## [3.1.0] - In development
### Added
- New profile for use on CTMR Gandalf, `ctmr_gandalf`.
- Taxonomic assessment of input reads by `Kraken2`.
- BACTpipe now supports building with `Docker`images.

### Changed
- Renamed profile for CTMR-NAS to `ctmr_nas` to better conform to incoming
  pr

[2021-05-06 08:57] emilio-r commented on #166
I see that I was just a few moments too late with this @boulund  👍

[2021-05-06 08:57] #166 closed

[2021-05-06 08:59] boulund commented on #166
Your text is better though! Seems we mentioned exactly the same things anyway :)

[2021-05-07 12:37] thorellk commented on #137
Hooray 😄

Now when we're happily done with 3.1 maybe it is time to update the citation?

[2021-05-07 12:38] boulund commented on #137
https://zenodo.org/record/4742358#.YJUyvbX7Q-U

[2021-05-07 12:39] thorellk commented on #97
I'm still of the opinion to keep BACTpipe as simple as possible. At least when I run a core-genome analysis, I usually want to include a reference genome dataset or other genomes that are already assembled in another context, and to encompass this in BACTpipe I think is overly complex.

[2021-05-07 12:41] boulund commented on #137
I think we missed the citation in the docs,
https://bactpipe.readthedocs.io/en/latest/#citing-bactpipe

can someone make a commit fixing that?

[2021-05-07 12:42] thorellk commented on #137
Hmm, seems like Sandra is left out and the naming scheme is quite weird, mixing GitHub user id's and full names, including capitalized ones. I guess this is collected from the GitHub user information? Is there any way of editing this?

[2021-05-07 12:45] boulund commented on #137
Yes, it automatically collects the names/usernames of everyone who has contributed commits. We can edit it manually if we want to. We just need to decide which authors should be there and in which order.

[2021-05-07 12:56] thorellk commented on #137
Emilio Rudbeck; Abhinav Sharma; Yue Hu; Joseph Kirangwa; Emilyn Costa Conceição; Sandra Álvarez-Carretero; Fredrik Boulund; Kaisa Thorell? Or if you want to be the last?

[2021-05-07 12:57] thorellk commented on #96
This partly falls under the same argument as the core genome analysis, right?

[2021-05-07 13:09] boulund commented on #96
Hmmm. Perhaps, yes. Although, one could argue that prophage finding is a less complex task and could be seen as part of a general genome annotation. But I'm perfectly fine holding off on this for now.

[2021-05-07 13:12] boulund commented on #137
That looks fine with me, I'll update the citation on Zenodo and in the docs right away.

[2021-05-07 13:13] thorellk commented on #96
Yeah, I added the "partly" of that reason, agree that it could be seen as a part of the annotation. Ok, let's leave it for now and see if it is getting actualized in some context :)

[2021-05-07 13:17] boulund commented on #137
I have updated the Zenodo citation and the citation on the first page of the docs, and synced the little commit from master to develop, so we can continue with feature branches from develop for future developments.

[2021-05-07 13:17] thorellk commented on #137
@emilio-r and @abhi18av, were you interested in writing something on the pipeline as well to publish it as some kind of paper?

[2021-05-07 13:49] #96 closed

[2021-05-07 17:15] abhi18av commented on #47
Yup, this one can be closed :)

[2021-05-07 17:15] #47 closed

[2021-05-07 17:20] abhi18av commented on #148
Hmm, that's an interesting point. I'm not particularly sure about that 🤔

However, I'll ask around and try to come up with solution with the utility process in the meatime.

[2021-05-07 19:29] thorellk commented on #137
@boulund you forgot Sandra! She was the original author of BACTpipe and even if much has changed since I still think she should be included.

[2021-05-08 13:26] boulund commented on #137
I don't understand what you mean, Sandra is included?
![image](https://user-images.githubusercontent.com/4919402/117540918-b7d42b80-b011-11eb-8549-336da3e3009f.png)

[2021-05-09 07:33] abhi18av commented on #137
Yup, that'd be great. Perhaps a short publication explaining the workflow and the chioces behind this?

[2021-05-09 18:57] thorellk commented on #137
Sandra was missing in the docs, not in the Zenodo doi. Sorry for not being clear, I added it now :)

[2021-05-10 07:10] emilio-r commented on #137
First: Huzzah to having released 3.1!  :tada:

Yes, writing something would be a good way to cap this whole experience. Next week I may find some time as my thesis will be in for review. Then I could probably write together a shorter report on BACTpipe to share for general review and comments, unless anyone else feels like writing, or have another suggestion for how to do this.

[2021-05-19 08:54] thorellk opened #169 "Include config file for large raw files?"
I just bumped into the issue of having excessively large raw fastq files per sample which leads to that `fastp` times out with the current allocations in the rackham config. Since this is a quite unusual situation, I don't think it is necessary to change the default one but it would be good to have one more for "fat" datasets. What do you think?

[2021-05-19 17:19] boulund commented on #169
It would be nice if we could decouple the environment specifications from the time specifications somehow. We would encounter the same issue in the gandalf config as well if we had such large input files, and it feels like it could quickly get messy if we need to keep multiple versions of each system profile.

[2021-05-20 12:14] abhi18av commented on #169
Hello team,

I am not sure how the cluster environments work, but perhaps we could explore computing the time limit dynamically?

Something like (pseudocode)

[code]

[2021-05-21 12:45] thorellk commented on #169
Yeah, that would be an alternative @abhi18av, if one can make some benchmark how much time it needs per 100 Mb input file or something. It should "only" be fastp, shovill and Kraken that will be affected by input file size...

[2021-05-21 12:53] boulund commented on #169
I think it should be possible to implement it so it actually reads the size of the input file for the process and computes the time allocation based on that. I think that, perhaps in combination with an extension on failures, would make sense and make it more effective. The alternative that has been proposed already would unnecessarily spend core hours for users with mainly (too) large samples on

[2021-06-09 07:23] abhi18av commented on #169
Hi team,

I came across this possible solution somewhere else and perhaps we could explore this here

[code]

[2021-06-09 07:32] boulund commented on #169
Neat. I wasn't aware of that functionality!

I guess we would need to make some simple calculation using the sample size to come up with a good multiplier for the time, perhaps also modulo some value so we don't end up with weird allocation request. There should also be a minimum size allocation as well I think :). Can you guys help me come up with something that would make sense? I'm thinking a "

[2021-06-09 07:46] abhi18av commented on #169
We could rely on `toFile` [method](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/nio/file/Path.html#toFile()) for a `java Path` object.

Though,  I think it'd be best if we encapsulate this functionality into a function or a closure in Groovy.

[2021-06-10 07:49] boulund commented on #169
Would someone have time to prototype something around this?

[2021-06-10 08:25] abhi18av commented on #169
I think that the function should look something like this, however I can't think of a way I can test this on my infra.

[code]

[2021-06-10 08:36] thorellk commented on #169
Hi!

Emilio presented his masters thesis today but will continue working with me over the summer :) So we’ll start to dig into this in next week!

//Kaisa

[2021-06-10 09:05] abhi18av commented on #169
Congrats to @emilio-r ! 🎉

[2021-06-17 13:04] boulund opened #170 "Prokka process gets mixed inputs"
We made a bit of an oversight when we implemented the workflow. Currently, the PROKKA process reads data from the CLASSIFY_TAXONOMY output and the SHOVILL output, but these are not produced by Nextflow in sync with each other, so data from different samples gets mixed up (i.e. the contigs from one sample with the taxonomic classification of another).

To fix this, the input for the PROKKA process

[2021-06-17 13:08] boulund commented on #170
Mahesh Binzer-Panchal provided an example of the phenomenon and the fix in the SciLifeLab slack:

[code]

nf_procs.nf:
[code]

[code]

[2021-06-17 13:57] thorellk commented on #170
Do you have time to give this a go @abhi18av?

[2021-06-17 14:16] abhi18av commented on #170
Yup, I'm looking into this and should be able to create a PR with a hotfix.

[2021-06-17 14:33] thorellk commented on #170
Awesome!

I am working on subsetting fastq files into different sizes/coverages to see how this influence the runtime of the different processes for the other issue.

Best wishes,

Kaisa

[2021-06-23 12:56] thorellk commented on #170
I now tested it using the local config on our HPC and everything runs smooth and BACTpipe completes without errors. Only issue is that it doesn't run prokka or multiQC at all...

[code]

[2021-07-02 11:00] #170 closed

[2022-02-08 11:12] shigdon opened #172 "bioconda::prokka environment error"
Hello,

I was attempting BACTpipe runs on ctmr-gandalf with a test set of 2 isolate pe-fastq samples when unexpectedly the system encountered an error during the Prokka module. The Git Repo was pulled fresh yesterday, Feb 7, 2022. I initially submitted the jobs via the following `sbatch` script:

[code]

This produced the following error during prokka module:

[code]

I then reran after modifying

[2022-02-10 07:21] boulund commented on #172
Sorry to hear you're having issues @shigdon!

There should be no need to use an `sbatch` script to run the nextflow pipeline; nextflow will automatically do all the required job submissions if you run with the appropriate profile (in this case `ctmr_gandalf`). You can just run nextflow in a tmux session on the login node, that's perfectly ok!

I agree that it sounds as if the prokka environment is

[2022-05-19 12:36] thorellk opened #173 "Prokka isn't running if Kraken faoö"